:root {
    --black: #FFFFFF;
     --primary:  #08090E;
     --white:#08090E;
     --secondary: #E8E9EE;
     --faitGradGreen: linear-gradient(180deg, #D0FFA4 -167.81%, #F7F7F7 100%);
     --faitGradeBlue: linear-gradient(180deg, #BBC9FF -115.75%, #F8F8F8 100%);;
     --sbCard:linear-gradient(116.55deg, #EAA8B7 18.81%, #ECE3EE 42.79%, #C1CDFF 81%);;
     --profileMenu: #FFFFFF;
     --green: #007544;
     --drawerBG:#ffffff;
     --drawerMask:rgba(0, 0, 0, 0.5);
     --drawerList:#F1F2F6;
     --alertBG:#fdfdff;
     --searchBg:#FFFFFF;
     --viewAll:#5C61FF;
     --grid:rgba(116, 118, 125, 0.4);
     --marketTitle:rgba(8, 9, 14, 0.6);
     --cardBG: #F1F2F6;
     --menuFont: rgba(8, 9, 14,0.9);
     --coinPrice: rgba(8, 9, 14, 0.8);
     --sbCardText: rgba(8, 9, 14, 0.5);
     --dbTitle:rgba(8, 9, 14 ,0.5);
     --subText: #74767D;
     --tableText: rgb(8, 9, 14, 0.5);
     --tablesub:rgba(8, 9, 14, 0.9);
     --tableInner:rgba(8, 9, 14 , 0.4);
     --tablecol:#7D7E82;
     --tableborder:rgba(151, 154, 166,0.4);
     --bodyBg: #FFFFFF;
     --button: #3653E4;
     --coinBal: #08090E;
     --iconBg: #3C3C3C;
     --red:  #E74545;
     --placeholders:rgba(116, 118, 125 ,0.5);
     --coinBg:rgba(107, 107, 107, 0.15);
     --drpdwnHover:rgba(116, 118, 125,0.3);;
     --inputBg:#FFFFFF;
     --checkText:#74767D;
     --checksub:rgba(8, 9, 14 ,0.7);
     --borderColor:rgba(8, 9, 14, 0.2);
     --termsText:#4E54FB;
     --inputBorder:#74767D;
     --balInput:#08090E;
     --radioFill:rgba(92, 97, 255, 0.1);
     --radioBorderfill:rgba(92, 97, 255, 0.1);
     --radioOutlinefill:rgba(255, 255, 255,0.3);
     --radioBg:#FFFFFF;
     --paraBg:#08090E;
     --accountType:#F1F2F6;
     --PriceIncrease:#286b4b26;
    --priceVal:#007544;
    --priceDecrease:#50353529;
    --priceRed:#E74545;
    --addressList:#F1F2F6;
    --tabBg:#ffffff;
    --tabLine:#5C61FF;
    --userMenubg:rgba(241, 242, 246,0.5);
    --profiletab:#5C61FF;
    --gridheader:#74767D;
    --pfsmbtn:#74767D;
    --btnhover:#5C61FF;
    --tablebody:#ffffff;
    --gridborder:rgb(8 9 14 / 15%);
    --gridtitle:#08090E;
    --gridcontent:rgb(8 9 14 / 80%);
 
     --lightThemeIcons: url(https://prduximagestorage.blob.core.windows.net/suissebaseimages/user-light-theme2.0.svg);
     --cryptoIcons: url(https://prduximagestorage.blob.core.windows.net/suissebaseimages/light-crypto-icons.svg);
     --logo: url(../../assets/images/logo-color.png);
 }body{background:var(--bodyBg);}
 .sb-card{background:url(sb-light.png)  no-repeat ;}