:root {
    --bgDark: #ECF1F4;
    --bgDark1: #515A64;
    --bgDarkGrey:#ECF1F4;
    --bgDarkGrey-95:rgba(49,60,70,0.75);
    --bgGrey: #FFFFFF;
    --bgGreen: #389738;
    --bgDarkGreen: #4DB205;
    --bgDarkRed: #FF2400;
    --bgBlack: #000000;
    --bgYellow: #FFDB1A;
    --bgDarkYellow:#e0bb02;
    --bgWhite: #FFFFFF;
    --bgWhiteSpin: #0E0E2C;
    --bgWhite30:#FAFCFE;
    --bgOrient: #1E526E;
    --bgOrient1: #e9f3ff;
    --bgGloom: #FFFFFF;
    --bgBlue: #1E90FF;
    --bgSwapFrom: #515a64;
    --bgSwapTo: #6f7882;
    --bgPitch: #1B4156;
    --bgPitch1: #94b7ca;
    --bgBlu: #ecf1f4;
    --bgOrion: #ffffff;
    --textPureWhite: #FFFFFF;
    --textWhite: #000000;
    --textWhite30: #243540;
    --textWhite50: #717171;
    --textSecondary: #9797AA;
    --textDark: #0E0E2C;
    --textGreen: #389738;
    --textYellow: #0E0E2C;
    --textDefautlYlw: #FFDB1A;
    --textRed: #FF3A1A;
    --textAqua: #2AAECC;
    --textpurple:#5C5C77;
    --textDarkGreen: #4DB205;
    --textError: #FF2400;
    --btnGrad1: #B30F1E;
    --btnGrad2: #0038FF;
    --btnBorder: #5C5C77;
    --borderGrey: #E9F3FF;
    --borderLight: #CECECE;
    --borderDark: #CECECE;
    --bgCircle: #19B06C;
    --bgDarkGrey30:#dfe1e3;
    --lightThemeIcons: url(https://prduximagestorage.blob.core.windows.net/suissebaseimages/user-light-theme-icons.svg);
    --cryptoIcons: url(https://prduximagestorage.blob.core.windows.net/suissebaseimages/light-crypto-icons.svg);
    --logo: url(../../assets/images/logo-color.png);
}