@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* { scrollbar-width: thin; scrollbar-color: var(--bgGrey) var(--bgDarkGrey);}
*::-webkit-scrollbar { width: 12px;height: 10px;  }
*::-webkit-scrollbar-thumb {background-color: #08090E;border-radius: 20px;}
html, .auto-scroll, .ant-table-body, .ant-drawer-body, .mobile-list, .k-grid-content{scrollbar-color: #08090E;}
    
body, h1, h2, h3, h4, h5, h6, a, p div{font-family: 'Lato', sans-serif !important;}
.d-flex{display: flex !important;}
.p-relative{position: relative !important;}
.c-pointer{cursor: pointer !important;}
.d-block{display: block !important;}

.icon.md.theme-icon{background-position: -8px -486px;margin-right: 4px;}

/*----Font Sizes----*/

.main-head{font-size: 32px;font-weight: 800;}
.sub-head{font-size: 22px;font-weight: 700;}
.header-menu{font-size: 18px;font-weight: 800;}
.header-menulist, 
.drawer-subtext, 
.coinselect-coinprice{font-size: 16px;font-weight: 400;}
.header-menusub{font-size: 14px;font-weight: 400;}
.drawer-head{font-size: 26px;font-weight: 800;}
.coinselect-name, 
.coinselect-balance{font-size: 16px;font-weight: 700;}



/*--Font Weights--*/
.fw-100{font-weight: 100 !important;}
.fw-200{font-weight: 200 !important;}
.fw-300{font-weight: 300 !important;}
.fw-400{font-weight: 400 !important;}
.fw-500{font-weight: 500 !important;}
.fw-600{font-weight: 600 !important;}
.fw-700{font-weight: 700 !important;}
.fw-800{font-weight: 800 !important;}

/*--Alignments--*/
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}
.text-upper{text-transform: uppercase !important;}
.text-captz{text-transform: capitalize !important;}
.align-center{align-items: center;}
.justify-content{justify-content: space-between;}

.text-underline{text-decoration: underline !important;}
.valign-initial{vertical-align: initial;}

/*--Text Colors--*/
.text-white{color: var(--textWhite) !important;}



/*----Padding Utilities----*/
.p-0{padding: 0 !important;}

/*----Margin Utilities----*/
.m-0{margin: 0 !important;}
.icon.lg.search-angle{background-position:-128px -480px;}

/*Header start*/
.tlv-header{background-color:#08090E;position: fixed; z-index: 9999; width: 100%;height: 90px !important;}
.tlv-header ul{background-color: transparent; border-bottom: 0;}
.tlv-header ul li{font-weight: 500;}
.tlv-header .main-menu li{border-radius: 5px;}
.tlv-header .main-menu li.ant-menu-item-selected, .tlv-header .main-menu li:hover{background-color: var(--primary) !important; color: var(--textWhite) !important;}
.tlv-header li::after, .tlv-header li:hover:after{border: none !important;}
.tlv-header ul li .cp-link{padding: 6px 0;margin-right: 8px;}
/* .tlv-header ul li .cp-link:hover{background-image: linear-gradient(99.09deg, var(--btnGrad1), var(--btnGrad2)); color: var(--textPureWhite) !important;filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));border-radius: 5px;} */
/*Header End*/

/*profile css start*/
.user-profile{ border-radius: 50%; background: var(--bgDarkGrey);object-fit: cover;}
.profile-dropdown .user-profile{width:112px;height: 112px; border-radius: 50%;display: block;margin: 0 auto;}
.profile-dropdown {text-align: center;padding:12px 34px;}
.profile-dropdown .drpdwn-list{padding-top: 0px; padding-left: 0; padding-right: 0; margin-left: -35px; margin-right: -35px;}
.profile-btn, .profile-btn:hover, .profile-btn:active, .profile-btn:focus{    background: transparent;
    border: 1px solid var(--green) !important;
    height: 27px;
    border-radius: 8px;
    color: var(--green);
    font-size: 14px;
    width: 127px;
    font-weight: 500;
    text-align: center;display: flex;
    align-items: center;
    padding: 6px 10px;}
.profile-info{width: 180px;height: 180px;padding: 5px;border-radius: 50%; margin: 0 auto 24px;background-image: linear-gradient(128deg, var(--bgDark1) 50%, var(--bgDark1) 50%); position: relative;}
.profile-info .user-profile{width:100%;height: 100%; border-radius: 50%;padding: 6px;background-color: var(--bgDarkGrey);object-fit: cover;}
.profile-info .img-upld{position: absolute;right: -5px;bottom: 20px;background-color: var(--bgYellow);border-color: var(--bgYellow);}
.basic-info,.contact-info{padding: 24px;}
.dash-info.basic-info{padding: 6px !important;}
.basicinfo{ font-weight: 600 !important; color: var(--textWhite30) !important; line-height: 28px !important;}
.basic-decs{font-size: 16px; font-weight: 400; color: var(--textWhite30);}
.profile-label{font-size: 14px; color: var(--textWhite30); font-weight: 400; }
.profile-value{font-size: 16px; color: var(--textWhite30); font-weight: 700;margin-left: 8px;}
.profileinfo{border-top:1px solid var(--borderGrey);}
.profileinfo:first-child{border-top:0}
.profileinfo.active, .profileinfo:hover{background: var(--bgOrient1); margin-left: -32px; margin-right: -32px;}
.profileinfo.active .profile-block, .profileinfo:hover .profile-block{padding: 0 32px}
/*profile css end*/

/*Common css start*/
.text-white{color: #FFFFFF;}
body{background: #000000 url(../images/dark-bg2.0.svg) no-repeat top center;}
.loader{background-color: #000000;position: fixed;top: 0; right: 0; bottom: 0; left: 0;display: flex; align-items: center;font-size: 36px;color: var(--textWhite);justify-content: center;}
.side-drawer .ant-drawer-mask, .side-drawer-full .ant-drawer-mask{background: #00000095;}
.side-drawer .ant-drawer-body, .side-drawer .ant-drawer-header{background-color: #3C3C42;}
/* .ant-drawer-right .ant-drawer-content-wrapper, .ant-drawer-mask{top:96px;} */
.ant-input-search .ant-input-group .ant-input-group-addon{background-color: #151519 !important;border-radius: 0 10px 10px 0;border: 1px solid #FFFFFF !important;border-left: 0 !important;}
.ant-input-search .ant-input-group input{border-radius:10px;background-color: #151519 !important;border: 1px solid #FFFFFF !important;border-right: 0 !important;}
/* .ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus{} */
.cust-input, .expiry-input, .cust-input .ant-input{background: #151519c4;border: 1px solid rgba(255, 255, 255, 0.4);border-radius: 5px;text-align: left;}
.ant-select-dropdown{background-color:#55555B;border-radius: 5px;}
.select-drpdwn .ant-select-item:hover, .select-drpdwn .ant-select-item.ant-select-item-option-active, .select-drpdwn .ant-select-item.ant-select-item-option-selected, .select-drpdwn .ant-select-item.ant-select-item-option-active.ant-select-item-option-selected{background-color: #000000;}
/* .dbchart-link{color: #fff!important;display: inline-block;background-color: var(--bgYellow); padding: 0 12px;margin-left: 8px;border-radius: 12px;line-height: 24px;} */
/* .custom-header span{font-size: 18px;color: #FFFFFF;opacity: 0.7;font-weight: 600;}
.custom-header span:hover{color: #FFFFFF;opacity: 1;}
.ant-menu-item:active, .ant-menu-submenu-title:active{font-weight: 700;} */
.ant-drawer-content{ background-color: #3C3C42;}
.ant-drawer-header{border-radius: 0;background-color: transparent;}
.side-drawer .ant-drawer-content-wrapper{width: 524px !important;}
.ant-drawer-wrapper-body{padding-top:90px;}
.ant-layout{background: none;}
.ant-btn{background-color: transparent;}
.custom-btn{font-weight:600;font-size: 15px;color: #FFFFFF;}
.drpdwn-list{padding-left: 0;}
.text-green{color: var(--green);}
.text-red{color: var(--red);}
.fait-wallets-style{display: flex;align-items: center;justify-content: space-between;margin-top: 36px;}
.ant-table{background-color: transparent;}
.ant-table-tbody > tr.ant-table-row:hover > td{background-color: transparent;}
.ant-table-thead > tr > th{background-color:rgba(0,0,0,0.4);border-bottom: 0;}
.ant-table-tbody > tr > td{border-bottom:rgba(255, 255, 255, 0.2) ;}
.ant-table-container table > thead > tr:first-child th:first-child{border-top-left-radius: 20px;}
.currency-style{color: var(--coinPrice);font-weight: 400;font-size: 24px;}
.coin-style{font-weight: 700;font-size: 16px;color: var(--coinBal);}
.coinbal-style{font-weight: 400;font-size: 16px;color:var(--coinPrice);}
/*Common css End*/

/*Coin Selection End*/
.wallet-list.ant-list-split .ant-list-item{background: #505055;border-radius: 13px;border:2px solid transparent;}
.wallet-list .ant-list-item:hover, .wallet-list .ant-list-item.select, .addCryptoList li.select{background: rgba(92, 97, 255, 0.35);border: 2px solid #CCC3FF !important;border-radius: 13px;}
.wallet-list.ant-list-split .ant-list-item:last-child{border:2px solid transparent;}
.code-lbl{margin-bottom: 4px !important;margin-left: 4px;}

/*Coin Selection End*/
/* button styles start */
.select-drpdwn .ant-select-item:hover, .select-drpdwn .ant-select-item.ant-select-item-option-active, .select-drpdwn .ant-select-item.ant-select-item-option-selected, .select-drpdwn .ant-select-item.ant-select-item-option-active.ant-select-item-option-selected, .ant-select-item-option-selected:not(.ant-select-item-option-disabled), .ant-select-item-option-active:not(.ant-select-item-option-disabled){background-color: #000000;}
.btn-dropdown button, .pop-btn{background-color: #3653E4; border-color: #3653E4; border-radius: 5px;height: 42px;font-weight: 600; transition: 0.3s ease;font-size: 16px;color: #FFFFFF;}
.btn-dropdown button, .pop-btn:hover, .pop-btn:focus, .pop-btn:active{background-color:#7087FF;color: #FFFFFF;border-color: #7087FF;}
.custom-btn.prime, .ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover{background-color: #3653E4;font-weight:600;font-size: 15px;color: #FFFFFF;}
.custom-btn.prime:hover,.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover{background-color: #7087FF;}
.custom-btn.sec{background: transparent;background-image: none;border: 1px solid rgba(255, 255, 255, 0.6); color: var(--textWhite);margin-left: 16px;}
.custom-btn.sec:hover{background-color: #3653E4;}
.cust-cancel-btn{border: 1px solid rgba(255, 255, 255, 0.6);border-radius: 5px;height: 42px;background-color: transparent;color: #ffffff;font-weight: 600;transition: 0.3s ease;font-size: 16px;margin-top: 16px;}
.cust-cancel-btn.ant-btn:hover, .cust-cancel-btn.ant-btn:focus, .cust-cancel-btn.ant-btn:active{border: 1px solid #CCC3FF;border-radius: 5px;height: 42px;background-color: transparent;color: #ffffff;font-weight: 600;transition: 0.3s ease;font-size: 16px;}
/* button styles end */
/*Kendo start*/
.k-grid-header .k-header > .k-link{font-size: 16px;font-weight: 500;}
.k-grid td{font-size: 14px;font-weight: 400;}
.ant-form-item-label > label{font-weight: 500;height: 24px !important;color: var(--textWhite);font-size: 14px;text-align: left;}
h1.sub-heading {text-transform: capitalize;padding-left:4px; padding-right:4px;font-size:18px;font-weight:500;margin-top: 36px;color:var(--textWhite);}
h1.heading{font-size: 24px;font-weight: 600;color:var(--textWhite);margin-bottom: 16px;padding-left:4px; padding-right:4px;}
.pop-btn, .confirm-btn{height: 46px;}
.box.basic-info{border-radius: 0 !important;}
.sidebar-push{padding:30px 16px 24px;}
.k-grid-header .k-header > .k-link{padding: 8px;margin: 0;}
.k-pager-numbers .k-link.k-state-selected,.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected ,.k-list .k-item.k-state-selected:hover,.k-list-optionlabel.k-state-selected:hover{color: var(--textDark);background-color: var(--bgYellow);}
.k-pager-numbers .k-link{color: var(--textDark);} 
.k-button, .k-textbox, .k-pager-numbers .k-link, .k-pager-numbers .k-link.k-state-selected{border-radius: 30px;}
.k-i-sort-asc-sm::before, .k-i-sort-desc-sm::before,.k-i-arrow-60-left::before,.k-i-arrow-60-right::before, .k-i-arrow-end-left::before,.k-i-arrow-end-right::before{color: var(--textDark);}
.k-button.k-primary.excel-btn{background: var(--bgYellow); color: var(--textDark); border-color: var(--bgYellow);padding: 10px 24px;font-weight: 500;text-transform: uppercase;}
.k-button.k-primary{background: var(--bgYellow); color: var(--textDark); border-color: var(--bgYellow);padding: 4px 24px;font-weight: 500;text-transform: uppercase;}
.k-button.k-primary:active, .k-button.k-primary:hover{background: var(--bgDarkYellow); color: var(--textDark); border-color: var(--bgDarkYellow);}
.k-grid thead{background: var(--bgDarkGrey);}.k-i-more-vertical.k-icon{width:20px; height: 20px; background-position: -350px -1px; transform: scale(0.9);margin-top: 10px;}
.k-grouping-row .k-i-collapse::before, .k-grouping-row .k-i-expand::before, .k-i-more-vertical:before{display: none;}
.ant-picker-suffix{color: var(--textWhite);}
.k-pager-sizes .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-pager-sizes .k-dropdown .k-dropdown-wrap:hover{background: var(--bgDarkGrey);color: var(--textWhite);}
.k-pager-nav.k-link:hover{background-color: var(--bgDarkGrey);border-radius: 50%;}
.fiatdep-info .anticon-copy, .fiatdep-info .anticon-check{font-size: 16px;}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{background: transparent !important; border: 0;}
.k-grid-header, .k-grouping-header, .k-grid-add-row, .k-grid-footer{color: var(--textWhite) !important;background-color: transparent !important;}
.k-grid-content, .k-grid{background-color: transparent !important;color: var(--textWhite) !important;}
.k-grid-content{margin-right: -12px;}
.k-grid-header{padding-right: 0;}
.k-grid tbody tr:hover, .k-grid tbody tr.k-state-hover{background-color: var( --bgDarkGrey) !important;}
.k-pager-wrap{color: var(--textWhite);background-color: transparent;}
/*Kendo End*/
/*Modal start*/
.ant-modal-content{border-radius: 24px;}
.ant-modal-header{border-radius: 24px 24px 0 0;padding: 16px 24px;border-color: var(--borderGrey);}
.ant-modal-header, .ant-modal-content{background-color: var(--bgGrey);}
.ant-modal-title{font-size: 24px; line-height: 34px;color: var(--textWhite30);text-transform:capitalize;}
.ant-modal-body p{font-size: 16px;color: var(--textWhite50);font-weight: 400;}
.ant-modal-footer{padding:16px 24px;border-color: transparent;}
.cust-adon .ant-input-group, .cust-adon .ant-input-group .ant-input:focus, .cust-adon .ant-input, .cust-adon .ant-input-group-addon{border: none !important;box-shadow: none;padding: 0;background: transparent;}
.cust-adon .ant-input{line-height: 45px !important;height: 47px !important;background-color: transparent !important; padding:0 1px !important;margin-bottom:0}
/* .ant-drawer{z-index: 999 !important;} */
.ant-modal-confirm-btns button:first-child{background-color: transparent;border: none;color: var(--textWhite30);}
.ant-modal-confirm-btns button:nth-child(2){background-color: var(--bgYellow) !important;border: none;color: var(--textDark);border-radius: 16px;padding: 4px 30px}
.ant-modal-confirm-btns button:first-child:hover{color: var(--textYellow);}
.ant-picker-input > input, .ant-form-item-label > label{color: var(--textWhite);}
.search-bg{border: 1px solid rgba(0,0,0,.08);color: #313c46 !important;background-color: var(--bgDarkGrey) !important;padding: 15px 10px;}
.anticon-copy svg, .anticon-check svg{color: var(--textYellow);}
/*Modal End*/

/* Dashboard start */
.ant-list-split .ant-list-item.cytpo-list-style{background: rgb(255, 255, 255 ,0.15);border-radius: 13px;margin-bottom: 10px;padding: 14px 20px !important;border-bottom:0;}
.db-titles{font-weight: 700 !important;color:rgb(255 255 255 / 60%) !important;font-size: 22px !important;}
.secureDropdown .ant-dropdown-menu{background-color: #4E505A;box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.35);border-radius: 10px;min-width: 239px; max-width: 239px; padding: 24px 0;}
.depwith-drpdown .ant-dropdown-menu{min-width: 173px !important; max-width: 173px !important;}
.drpdwn-list li:hover{background-color: rgb(255, 255, 255,0.15);}
.secureDropdown .ant-dropdown-arrow{display:none;}
.secureDropdown .ant-dropdown-arrow{border-color: var(--bgGloom) !important;}
.drpdwn-list{list-style: none;}
.drpdwn-list li{font-size: 14px; padding: 0 22px; transition: 0.3s ease;cursor: pointer;}
.drpdwn-list li a{color: var(--textWhite);display: flex; align-items: center; padding: 10px 0 10px 10px;}
.crypto-card-design{display: flex;align-items: center;}
.custlist-align{margin-left: 26px;}
.listitems-design{border-radius: 13px;margin-bottom: 10px;padding: 14px 20px !important;display: block;width:356px;float: left;margin-right: 16px;border-bottom: 0 !important;background: linear-gradient(180deg, #88C351 -167.81%, #000000 100%) !important;}
.listitems-design:nth-child(even) {margin-right: 0;background: linear-gradient(180deg, #627EEA -115.75%, #000000 100%) !important;}
/* .crypto-wallet-style{margin-bottom: 28px;}
.fait-wallet-style{margin-top: 28px;} */
.crypto-btn-top{margin-top: 28px;}
.ant-btn.dbchart-link{background-color: transparent;border: 0;}
.dbchart-link span{color: #1AFD90;}
.market-panel-newstyle{clear: both;}
/* .markets-head{color: var(--black) !important;font-size: 22px !important;font-weight: 700 !important;margin-bottom: 8px !important;} */
.icon-space{margin-left: 12px;margin-bottom: 8px;}
.pipeline{color: var(--tableText);margin-right: 10px;}
.sb-card{background: linear-gradient(116.55deg, #79001C 18.81%, #0E0411 61.78%, #203386 86.7%);border-radius: 20px;padding: 30px;margin-bottom: 16px;}
.sb-text{color: var(--sbCardText);letter-spacing: 5px;font-weight: 700;font-size: 24px;}
.sb-accounts{padding: 2px;}
.cardlogo-height{margin-bottom: 100px;opacity: 0.6;}
.transaction-panel, .crypto-style{margin-top: 56px;}
.transaction-title{display: flex;align-items: center;}
.trans-align{display: flex;align-items: center;justify-content: space-between;}
.bash-market-table{background-color: var(--cardBG);border-top-left-radius: 20px;padding-bottom:16px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.ant-table-container table > thead > tr:first-child th:last-child{border-top-right-radius: 20px;}
.db-main-title{font-weight: 800 !important;font-size: 32px !important;color: #FFFFFF !important;margin-bottom: 56px !important;}
.marketcap-mt{margin-top: 56px;}
.crypto-curr-align{display: flex;justify-content: space-between;}
/* Dashboard end */

/*Buy drawer start*/

/*Buy drawer End*/
/* --Payments Start--*/
/* .pay-grid{width: 100%;border: 1px solid rgba(0,0,0,.08);} */
.pay-grid thead th{padding: 8px;width: 250px; color: var(--textWhite30);font-weight: 500;text-align: left;font-size: 16px;}
.pay-grid thead th:last-child{width: 500px;}
.pay-grid tbody td{padding: 8px; color: #E9E9E9;font-weight: 400;font-size: 14px ;}
/* .pay-grid tbody tr:nth-child(even){background-color: rgba(0,0,0,.04);} */
/* .pay-grid tbody tr:hover{background-color: var(--bgDarkGrey);} */
.ant-table-placeholder:hover{background: transparentc;}
.ant-popover-inner{background-color: var(--bgGloom); border-radius: 10px;}
.pay-list{display: flex;justify-content: space-between;align-items: center;}
.ant-table-placeholder:hover{background: transparentc;}
.ant-popover-inner{background-color: var(--bgGloom); border-radius: 10px;}
.more-popover .lbl{font-size: 12px; color: var(--textWhite50);font-weight: 100;}
.more-popover .val{font-size: 14px; color: var(--textWhite30);display: block;margin-bottom: 16px; line-height: normal;}
.ant-popover-arrow{border-color: var(--bgGloom) !important;}
.payment-docs .accordian .ant-collapse-content-box, .payment-docs .accordian .ant-collapse-item{background-color: var(--bgGrey);border-radius: 24px;}
.payment-docs .accordian .ant-collapse-item:last-child > .ant-collapse-content{background-color: var(--bgGrey);border-radius: 30px;}
.file-label{border: 1px solid var(--borderLight);border-radius: 6px;padding: 2px 8px;color: var(--bgDarkYellow);background-color: var(--bgDarkGrey);width:100px}
.delete-btn{color: var(--textWhite30);background-color: transparent !important;font-size: 14px;border: none;}
.delete-btn:hover{background-color: transparent !important; color:white;border:none;}
.delete-btn:focus{border:none !important;}
.ant-modal-footer .delete-btn{padding: 0 30px;}
.pay-list{display: flex;justify-content: space-between;align-items: center;}
.transaction-custom-table{background: var(--cardBG);border-radius: 20px;padding-top: 12px;padding-bottom: 12px;}
.transaction-custom-table .pay-grid tbody td{border: 0;}
.transaction-custom-table .pay-grid tr{border-bottom: 1px solid rgb(255, 255, 255,0.2);}
.transaction-custom-table .pay-grid tr:last-child{border-bottom: 0;}
.transaction-custom-table .pay-grid thead tr, .bash-market-table .pay-grid tbody tr td{border-bottom: 1px solid rgb(255, 255, 255,0.2) !important;}
.transaction-custom-table .pay-grid thead tr th:first-child{padding-left: 30px;}
.transaction-custom-table .pay-grid tbody tr td:first-child{padding-left: 30px;}
/* .bash-market-table .pay-grid thead tr{background-color:#1F1C1F;} */
.bash-market-table .pay-grid thead  tr th{border-bottom: 0;}
.bash-market-table .pay-grid tbody tr:last-child td, .bash-market-table .pay-grid tbody tr:first-child td{border-bottom: 0 !important;}
/* .dashb-btmtable .pay-grid tbody tr td:first-child{padding-left: 0;}
.dashb-btmtable .pay-grid thead tr th:first-child{padding-left: 0;} */
/* --Payments End--*/

/*--Zoho start--*/
.zsiq_flt_rel{width: 50px !important; height: 50px !important;bottom: 8px;right: -10px;}
.zsiq_theme1 .siqico-chat:before{font-size: 20px !important; line-height: 50px !important;}
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-radio-disabled + span{color: var(--textWhite30);}

/*--Zoho end--*/

/* summary start */
.cust-summary-new{background: rgba(255, 255, 255, 0.1);border-radius: 13px;padding-left: 20px;padding-right: 20px;padding-bottom: 46px;padding-top: 26px;}
.pay-list:last-child{border:0;padding-bottom: 0;}
.pay-list{padding: 12px 0;}
.cust-coin-value{font-weight: 500;font-size: 45px;text-align: center;color: #FFFFFF;}
.cust-summary-text{text-align: left;margin-top: 16px;}
.text-style{font-weight: 400;font-size: 16px;color:rgb(255,255, 255,0.7);}
.terms-link{color:#CCC3FF !important;}
/* summary end */

/*@media start*/
@media (min-width: 768px){
    .listitems-design{width: 335px;}
}
@media (min-width: 992px){
    .visible-mobile, .sideropen{display: none;}
    .bill-grid .k-grid-header table{width: 1255px !important;}
    .bill-grid .k-grid-content table{width: 1254px !important;}
    .listitems-design{width: 356px;}
}
@media (min-width: 1024px){

}
@media (min-width: 1200px){

}
@media (min-width: 1400px){
    .listitems-design{width: 406px;}

}
@media (max-width: 991.98px){
    .visible-mobile .ant-tabs-top > .ant-tabs-nav::before{border-bottom: 0 !important;}
    .visible-mobile .user-list .ant-tabs-nav{width: auto;}
}
@media (max-width: 767.98px){
    .sidebar-push{margin: 62px 0 0 !important;}
    .visible-mobile .side-drawer .side-drawer-header.change_password{align-items: self-start !important;}
}

/*@media end*/