@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* { scrollbar-width: thin; scrollbar-color: var(--bgGrey) var(--bgDarkGrey);}
*::-webkit-scrollbar { width: 12px;height: 10px;  }
*::-webkit-scrollbar-thumb {background-color: var(--secondary);border-radius: 20px;}
html, .auto-scroll, .ant-table-body, .ant-drawer-body, .mobile-list, .k-grid-content{scrollbar-color: var(--secondary);}
    
body, h1, h2, h3, h4, h5, h6, a, p, div, input{font-family: 'Lato', sans-serif !important;}
.d-flex{display: flex !important;}
.p-relative{position: relative !important;}
.c-pointer{cursor: pointer !important;}
.d-block{display: block !important;}

.icon.md.theme-icon{background-position: -8px -486px;margin-right: 4px;}
.icon.sm.valupp-icon{background-position: -87px -5px;margin-left: 8px;}
.icon.sm.valdown-icon{background-position: -108px -4px;margin-left: 8px;}
.icon.lg.whats-app{background-position: -9px -658px;margin-right: 14px;}
.icon.lg.mail-app{background-position: -52px -658px;}

/*----Font Sizes----*/

.main-head{font-size: 32px;font-weight: 800;}
.sub-head{font-size: 22px;font-weight: 700;}
.header-menu{font-size: 18px;font-weight: 800;}
.header-menulist, 
.drawer-subtext, 
.coinselect-coinprice{font-size: 16px;font-weight: 400;}
.header-menusub{font-size: 14px;font-weight: 400;}
.drawer-head{font-size: 26px;font-weight: 800;}
.coinselect-name, 
.coinselect-balance{font-size: 16px;font-weight: 700;}



/*--Font Weights--*/
.fw-100{font-weight: 100 !important;}
.fw-200{font-weight: 200 !important;}
.fw-300{font-weight: 300 !important;}
.fw-400{font-weight: 400 !important;}
.fw-500{font-weight: 500 !important;}
.fw-600{font-weight: 600 !important;}
.fw-700{font-weight: 700 !important;}
.fw-800{font-weight: 800 !important;}

/*--Alignments--*/
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}
.text-upper{text-transform: uppercase !important;}
.text-captz{text-transform: capitalize !important;}
.align-center{align-items: center;}
.justify-content{justify-content: space-between;}

.text-underline{text-decoration: underline !important;}
.valign-initial{vertical-align: initial;}

/*--Text Colors--*/
.text-white{color: var(--textWhite) !important;}



/*----Padding Utilities----*/
.p-0{padding: 0 !important;}

/*----Margin Utilities----*/
.m-0{margin: 0 !important;}
/* icons start */
.icon.lg.search-angle{background-position:-128px -480px;}
.icon.md.bell{background-position:-39px -486px;}
.icon.lg.menu-bar{background-position: -97px -484px;}
.icon.lg.search-angle.drawer-search{background-position:-295px -484px ;}
.icon.sm.valupp-icon.pg-arrow{background-position:-10px -692px;}
.icon.sm.valupp-icon.red-arrow{background-position:-28px -692px;}

/*Header start*/
.notification-conunt .bell span{position: absolute;right: -8px;top: -8px;width: 18px;height: 18px;background: #f6921e;border-radius: 50%;line-height: 18px;text-align: center;font-size: 10px;font-weight: 600;}
.haead-main{background-color: var(--secondary);position: fixed; z-index: 9999;left: 0; right: 0;}
.tlv-header ul{background-color: transparent; border-bottom: 0;}
.tlv-header ul li{font-weight: 500;}
.tlv-header .main-menu li{border-radius: 5px;}
.tlv-header .main-menu li.ant-menu-item-selected, .tlv-header .main-menu li:hover{background-color: var(--primary) !important; color: var(--textWhite) !important;}
.tlv-header li::after, .tlv-header li:hover:after{border: none !important;}
.tlv-header ul li .cp-link{padding: 6px 0;margin-right: 8px;}
/* .tlv-header ul li .cp-link:hover{background-image: linear-gradient(99.09deg, var(--btnGrad1), var(--btnGrad2)); color: var(--textPureWhite) !important;filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));border-radius: 5px;} */
.header-right li{color: var(--sbCardText) !important;}
/*Header End*/

/*profile css start*/
.user-profile{ border-radius: 50%; background: var(--bgDarkGrey);object-fit: cover;}
.profile-dropdown .user-profile{width:112px;height: 112px; border-radius: 50%;display: block;margin: 0 auto;}
.profile-dropdown {text-align: center;padding:12px 24px;}
.profile-dropdown .drpdwn-list{padding-top: 0px; padding-left: 0; padding-right: 0; margin-left: -24px; margin-right: -24px;}
.profile-btn, .profile-btn:hover, .profile-btn:active, .profile-btn:focus{background: transparent;
    border: 1px solid var(--green) !important;
    height: 27px;
    border-radius: 8px;
    color: var(--green);
    font-size: 14px;
    width: 127px;
    font-weight: 500;
    text-align: center;display: flex;
    align-items: center;
    padding: 6px 10px;margin-bottom: 10px;}
.profile-info{width: 180px;height: 180px;padding: 5px;border-radius: 50%; margin: 0 auto 24px;background-image: linear-gradient(128deg, var(--bgDark1) 50%, var(--bgDark1) 50%); position: relative;}
.profile-info .user-profile{width:100%;height: 100%; border-radius: 50%;padding: 6px;background-color: var(--bgDarkGrey);object-fit: cover;}
.profile-info .img-upld{position: absolute;right: -5px;bottom: 20px;background-color: var(--bgYellow);border-color: var(--bgYellow);}
.basic-info,.contact-info{padding: 24px;}
.dash-info.basic-info{padding: 6px !important;}
.basicinfo{ font-weight: 600 !important; color: var(--textWhite30) !important; line-height: 28px !important;}
.basic-decs{font-size: 16px; font-weight: 400; color: var(--textWhite30);}
.profile-label{font-size: 14px; color: var(--textWhite30); font-weight: 400; }
.profile-value{font-size: 16px; color: var(--textWhite30); font-weight: 700;margin-left: 8px;}
.profileinfo{border-top:1px solid var(--borderGrey);}
.profileinfo:first-child{border-top:0}
.profileinfo.active, .profileinfo:hover{background: var(--bgOrient1); margin-left: -32px; margin-right: -32px;}
.profileinfo.active .profile-block, .profileinfo:hover .profile-block{padding: 0 32px}
/*profile css end*/

/*Common css start*/
.ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{border: 0 !important;}
.newtransfer-card.ant-btn[disabled], .newtransfer-card.ant-btn[disabled]:hover, .newtransfer-card.ant-btn[disabled]:focus, .newtransfer-card.ant-btn[disabled]:active{background: var(--drawerList);border: 2px solid transparent;color: var(--coinBal) !important;}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active{background-color: transparent;}
.icon, .k-i-more-vertical.k-icon,.ant-select-arrow, .custom-checkbox input[type=checkbox]+span{background: var(--lightThemeIcons) no-repeat; display: inline-block; vertical-align: middle;}
.ant-select-arrow .anticon{display: none;}
.ant-select-arrow{width: 20px;height: 20px;background-position: -351px -7px;transform: scale(0.9);}
.main-container{padding: 24px 16px; margin: auto;}
.main-container .k-loading-color{background-color: transparent !important;}
.text-white{color: #FFFFFF;}
/* body{background:var(--bodyBg);} */
/* url(../images/dark-bg2.0.svg) no-repeat top center; */
.loader{background-color: #000000;position: fixed;top: 0; right: 0; bottom: 0; left: 0;display: flex; align-items: center;font-size: 36px;color: var(--textWhite);justify-content: center;}
.side-drawer .ant-drawer-mask, .side-drawer-full .ant-drawer-mask{background: var(--drawerMask);}
.side-drawer .ant-drawer-body, .side-drawer .ant-drawer-header{background-color: var(--drawerBG);}
.cust-input, .expiry-input, .cust-input .ant-input{background: var( --inputBg);color: var(--white);height: 50px;margin-bottom: 6px;font-size: 16px;border: 1px solid var(--subText);border-radius: 5px;text-align: left;}
.ant-select-selection-placeholder{color: var(--white);}
.ant-select-dropdown{background-color:var(--profileMenu);border-radius: 5px;}
.select-drpdwn .ant-select-item:hover, .select-drpdwn .ant-select-item.ant-select-item-option-active, .select-drpdwn .ant-select-item.ant-select-item-option-selected, .select-drpdwn .ant-select-item.ant-select-item-option-active.ant-select-item-option-selected{background-color: var(--drpdwnHover);}
.ant-drawer-content{ background-color: var(--drawerBG);}
.ant-drawer-header{border-radius: 0;background-color: transparent;}
.side-drawer .ant-drawer-content-wrapper{width: 100% !important;}
.ant-drawer-wrapper-body{padding-top:90px;}
.ant-layout{background: none;}
.ant-btn{background-color: transparent;}
.custom-btn{font-weight:600;font-size: 15px;color: #FFFFFF;}
.drpdwn-list{padding-left: 0;}
.text-green{color: var(--green);}
.text-red{color: var(--red);}
.fait-wallets-style{display: flex;align-items: center;justify-content: space-between;margin-top: 36px;}
.ant-table{background-color: transparent;}
.ant-table-tbody > tr.ant-table-row:hover > td{background-color: transparent;}
.ant-table-thead > tr > th{background-color:var(--grid);border-bottom: 0;}
.ant-table-tbody > tr > td{border-bottom:rgba(255, 255, 255, 0.2) ;}
.ant-table-container table > thead > tr:first-child th:first-child{border-top-left-radius: 20px;}
.currency-style{color: var(--coinPrice);font-weight: 400;font-size: 24px;}
.coin-style{font-weight: 700;font-size: 16px;color: var(--coinBal);}
.coinbal-style{font-weight: 400;font-size: 16px;color:var(--coinPrice);}
.ant-table-thead th.ant-table-column-has-sorters:hover{background:var(--grid);}
.ant-input-group-addon{background-color:transparent ;}
.cust-search .ant-input-affix-wrapper{background-color: var(--searchBg) !important;border: 1px solid var(--subText) !important;border-radius: 10px !important;height: 48px;}
.cust-search::placeholder{color: var(--placeholders);font-weight: 400;font-size: 16px;}
.cust-search .ant-input{color: var(--primary);font-weight: 400;font-size: 16px;}
.drawer-list-font{font-weight: 700;font-size: 16px;color: var(--coinPrice);}
.drawer-coin .ant-image, .crypto-curr-align .ant-image, .listitems-design .ant-image, .cytpo-list-style .ant-image, .crypto-bg, .drawer-list-fiat .ant-image-img{border: 4px solid var(--coinBg);border-radius: 100%;}
.drawer-coin .ant-image-img, .crypto-curr-align .ant-image-img, .listitems-design .ant-image-img, .cytpo-list-style .ant-image-img, .crypto-bg, .drawer-list-fiat .ant-image{background-color: var(--coinBg);border-radius: 100%;}
.cytpo-list-style .ant-list-item-meta{align-items: center;}
.crypto-bg{width: 52px;height: 52px;}
.label-style, .ant-form-item-label > label{color: var(--subText); font-weight: 400;font-size: 14px;margin-bottom: 2px !important;text-transform: capitalize;}
.ant-form-item-label > label{margin-bottom: 0 !important;}
.ant-card.crypto-card{background: none;}
.ant-select-item .ant-select-option-active, .ant-select-item-option-content, .ant-select-selection-item{color:var(--menuFont) ;}
.ant-alert-error {background-color: var(--alertBG);border: 1px solid #ff5747;}
.ant-alert-error .ant-alert-icon{color: #ff4d4f;}
.ant-alert-message{color: #ff5747 !important;}
.ant-alert-description {font-size: 16px !important;color: #ffa198 !important;}
.ant-alert{border-radius: 5px;}
.ant-notification-rtl{z-index:9999;top:75px !important;}
.ant-notification-notice .ant-notification-close-icon{color: var(--textWhite30);}
.ant-notification{direction: ltr;}
.ant-notification-notice-closable .ant-notification-notice-message{padding-left: 0 !important;}
.ant-notification-rtl .ant-notification-notice-close{left: auto;right: 15px;}
.ant-notification-notice-message{color: var(--textWhite30)!important;}
.ant-notification-notice-description{color: var(--textSecondary)!important;}
.ant-notification-notice{background-color: var(--black);border-radius: 10px;font-size: 14px;}
.notify{padding: 16px;margin-bottom: 36px;}
.notify .ant-alert-action{margin: 15px 30px 0 30px;}
.notify .ant-alert-action .ant-btn{color: var(--viewAll);font-size: 18px;font-weight: 500;}
.notify .ant-alert-close-icon{font-size: 18px;color: var(--textDark) !important;}
.custom-notify.cust-input .ant-select-selection-item, .cust-input .ant-select-selector, .cust-input .ant-input, .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder{line-height: 36px !important;height: 38px !important;margin-top:2px;}
.drawer-balnstyle{font-size: 16px;font-weight: 700;color: var(--coinBal);}
.newtransfer-card.ant-btn:hover, .newtransfer-card.ant-btn:focus, .newtransfer-card.ant-btn:active{background-color: var(--radioFill) !important; border: 2px solid var(--radioBorderfill);color: var(--coinPrice) !important;}
.fund-transfer-input{margin-bottom: 0 !important;}
.send-drawerbtn{margin: 36px;}
.input-subtext{font-weight: 400 !important;font-size: 16px !important;color: var(--checksub) !important;}
.custom-radiobtn{background: var(--tabBg);border: 1px solid var(--inputBorder);border-radius: 8px;padding:6px}
.custom-radiobtn .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{background: #3653E4;border-radius: 5px; border: 0;height: auto; padding: 10px 36px;color: #FFFFFF;font-weight: 700;font-size: 16px;}
.custom-radiobtn .ant-radio-button-wrapper{font-weight: 500;font-size: 16px;color: var(--marketTitle);background-color: transparent;border: 0;}
.custom-radiobtn .ant-radio-button-wrapper:not(:first-child)::before{content: none;}
.custom-radiobtn .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child{border: transparent;}
.custom-radiobtn .ant-radio-button-wrapper:first-child{border: 0;}
.custom-radiobtn .ant-radio-button-wrapper:hover{color: var(--marketTitle);}
.custom-radiobtn .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active{color: #FFFFFF;}
.custom-radiobtn .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{color: #FFFFFF;border-color: transparent;}
.custom-label .ant-form-item-label, .custom-label.ant-row{display: block !important;padding: 0 0 0px !important;}
.send-fiat-input .ant-form-item-label > label{height: 22px;}
.ant-form-item-label{text-align: left !important;}
.ant-input:focus, .ant-input-focused, .ant-input:hover{border: 1px solid #CCC3FF;box-shadow:none;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow:none;
}
.round-pills .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child{border-color: var(--radioBorderfill);}
/*Common css End*/

/*Coin Selection End*/
.wallet-list.ant-list-split .ant-list-item{background: var(--drawerList);border-radius: 13px;border:2px solid transparent;height: 90px;padding: 10px 24px !important;}
.wallet-list .ant-list-item:hover, .wallet-list .ant-list-item.select, .addCryptoList li.select{background: rgba(92, 97, 255, 0.35);border: 2px solid #CCC3FF !important;border-radius: 13px;}
.wallet-list.ant-list-split .ant-list-item:last-child{border:2px solid transparent;}
.code-lbl{margin-bottom: 4px !important;margin-left: 4px;}

/*Coin Selection End*/
/* button styles start */
.select-drpdwn .ant-select-item:hover, .select-drpdwn .ant-select-item.ant-select-item-option-active, .select-drpdwn .ant-select-item.ant-select-item-option-selected, .select-drpdwn .ant-select-item.ant-select-item-option-active.ant-select-item-option-selected, .ant-select-item-option-selected:not(.ant-select-item-option-disabled), .ant-select-item-option-active:not(.ant-select-item-option-disabled){background-color: var(--drpdwnHover)}
.btn-dropdown button, .pop-btn{background-color: #3653E4; border-color: #3653E4; border-radius: 5px;height: 42px;font-weight: 600; transition: 0.3s ease;font-size: 16px;color: #FFFFFF;}
.btn-dropdown button, .pop-btn:hover, .pop-btn:focus, .pop-btn:active{background-color:#7087FF;color: #FFFFFF;border-color: #7087FF;}
.custom-btn.prime, .ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover{background-color: #3653E4;font-weight:600;font-size: 15px;color: #FFFFFF;}
.custom-btn.prime:hover,.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover{background-color: #7087FF;}
.custom-btn.sec{background: transparent;background-image: none;border: 1px solid var(--subText); color: var(--textWhite);margin-left: 16px;}
.custom-btn.sec:hover{background-color: #3653E4;}
.cust-cancel-btn{border: 1px solid var(--inputBorder);border-radius: 5px;height: 42px;background-color: transparent;color:var(--white);font-weight: 600;transition: 0.3s ease;font-size: 16px;width:100%;margin-bottom: 20px;}
.cust-cancel-btn.ant-btn:hover, .cust-cancel-btn.ant-btn:focus, .cust-cancel-btn.ant-btn:active{border: 1px solid #CCC3FF;border-radius: 5px;height: 42px;background-color: transparent;color: var(--white);font-weight: 600;transition: 0.3s ease;font-size: 16px;}
/* button styles end */
/*Kendo start*/
.k-grid-header .k-header > .k-link{font-size: 16px;font-weight: 500;}
.k-grid td{font-size: 14px;font-weight: 400;}
/* .ant-form-item-label > label{color: var(--subText);font-weight: 400;font-size: 14px;margin-bottom: 2px !important;text-transform: capitalize;} */
h1.sub-heading {text-transform: capitalize;padding-left:4px; padding-right:4px;font-size:18px;font-weight:500;margin-top: 10px;color:var(--textWhite);margin-bottom: 26px !important;}
h1.heading{font-size: 24px;font-weight: 600;color:var(--textWhite);margin-bottom: 16px;padding-left:4px; padding-right:4px;}
.pop-btn, .confirm-btn{height: 46px;margin-bottom: 20px;}
.box.basic-info{border-radius: 0 !important;}
.sidebar-push{padding:30px 16px 24px;}
.k-grid-header .k-header > .k-link{padding: 8px;margin: 0;}
.k-pager-numbers .k-link.k-state-selected,.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected ,.k-list .k-item.k-state-selected:hover,.k-list-optionlabel.k-state-selected:hover{color: var(--textDark);background-color: var(--bgYellow);}
.k-pager-numbers .k-link{color: var(--textDark);} 
.k-button, .k-textbox, .k-pager-numbers .k-link, .k-pager-numbers .k-link.k-state-selected{border-radius: 30px;}
.k-i-sort-asc-sm::before, .k-i-sort-desc-sm::before,.k-i-arrow-60-left::before,.k-i-arrow-60-right::before, .k-i-arrow-end-left::before,.k-i-arrow-end-right::before{color: var(--textDark);}
.k-button.k-primary.excel-btn{background: var(--bgYellow); color: var(--textDark); border-color: var(--bgYellow);padding: 10px 24px;font-weight: 500;text-transform: uppercase;}
.k-button.k-primary{background: var(--bgYellow); color: var(--textDark); border-color: var(--bgYellow);padding: 4px 24px;font-weight: 500;text-transform: uppercase;}
.k-button.k-primary:active, .k-button.k-primary:hover{background: var(--bgDarkYellow); color: var(--textDark); border-color: var(--bgDarkYellow);}
.k-grid thead{background: var(--bgDarkGrey);}.k-i-more-vertical.k-icon{width:20px; height: 20px; background-position: -350px -1px; transform: scale(0.9);margin-top: 10px;}
.k-grouping-row .k-i-collapse::before, .k-grouping-row .k-i-expand::before, .k-i-more-vertical:before{display: none;}
.ant-picker-suffix{color: var(--textWhite);}
.k-pager-sizes .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-pager-sizes .k-dropdown .k-dropdown-wrap:hover{background: var(--bgDarkGrey);color: var(--textWhite);}
.k-pager-nav.k-link:hover{background-color: var(--bgDarkGrey);border-radius: 50%;}
.fiatdep-info .anticon-copy, .fiatdep-info .anticon-check{font-size: 16px;}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{background: transparent !important; border: 0;}
.k-grid-header, .k-grouping-header, .k-grid-add-row, .k-grid-footer{color: var(--textWhite) !important;background-color: transparent !important;}
.k-grid-content, .k-grid{background-color: transparent !important;color: var(--textWhite) !important;}
.k-grid-content{margin-right: -12px;}
.k-grid-header{padding-right: 0;}
.k-grid tbody tr:hover, .k-grid tbody tr.k-state-hover{background-color: var( --bgDarkGrey) !important;}
.k-pager-wrap{color: var(--textWhite);background-color: transparent;}
/*Kendo End*/
/*Modal start*/
.ant-modal-content{border-radius: 24px;}
.ant-modal-header{border-radius: 24px 24px 0 0;padding: 16px 24px;border-color: var(--borderGrey);}
.ant-modal-header, .ant-modal-content{background-color: var(--bgGrey);}
.ant-modal-title{font-size: 24px; line-height: 34px;color: var(--textWhite30);text-transform:capitalize;}
.ant-modal-body p{font-size: 16px;color: var(--textWhite50);font-weight: 400;}
.ant-modal-footer{padding:16px 24px;border-color: transparent;}
.cust-adon .ant-input-group, .cust-adon .ant-input-group .ant-input:focus, .cust-adon .ant-input, .cust-adon .ant-input-group-addon{border: none !important;box-shadow: none;padding: 0;background: transparent;}
.cust-adon .ant-input{line-height: 45px !important;height: 47px !important;background-color: transparent !important; padding:0 1px !important;margin-bottom:0}
/* .ant-drawer{z-index: 999 !important;} */
.ant-modal-confirm-btns button:first-child{background-color: transparent;border: none;color: var(--textWhite30);}
.ant-modal-confirm-btns button:nth-child(2){background-color: var(--bgYellow) !important;border: none;color: var(--textDark);border-radius: 16px;padding: 4px 30px}
.ant-modal-confirm-btns button:first-child:hover{color: var(--textYellow);}
/* .ant-picker-input > input, .ant-form-item-label > label{color: var(--textWhite);} */
.search-bg{border: 1px solid rgba(0,0,0,.08);color: #313c46 !important;background-color: var(--bgDarkGrey) !important;padding: 15px 10px;}
.anticon-copy svg, .anticon-check svg{color: var(--subText);}
/*Modal End*/

/* Dashboard start */
.price-valgreen{display: flex;align-items: center; height: 36px;padding: 4px 8px;margin-left: 16px;border-radius: 5px;}
.pg-text{color: var(--priceVal);}
.price-valred{display: flex;align-items: center; height: 36px;padding: 4px 8px;margin-left: 16px;border-radius: 5px;}
.red-text{color: var(--priceRed);}
.acount-type{padding: 8px 16px;background: var(--accountType);border-radius: 5px;height: 36px;color: var(--coinPrice);font-weight: 400;font-size: 16px;align-items: center;display: flex;margin-left: 16px;margin-bottom: 40px;}
.tlv-logo{height: 60px;padding-left: 20px;}
.user-left{margin-left: 16px !important;}
.ant-list-split .ant-list-item.cytpo-list-style{background: var(--cardBG);border-radius: 13px;margin-bottom: 10px;padding: 14px 20px !important;border-bottom:0;}
.db-titles{font-weight: 700 !important;color:var(--primary) !important;font-size: 22px !important;}
.secureDropdown .ant-dropdown-menu{background-color: var(--profileMenu);box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.35);border-radius: 10px;min-width: 239px; max-width: 239px; padding: 14px 0;}
.depwith-drpdown .ant-dropdown-menu{min-width: 173px !important; max-width: 173px !important;}
.drpdwn-list li:hover{background-color: var(--drpdwnHover);}
/* .drpdwn-list li:hover span.icon{margin-right: -3px ;} */
.secureDropdown .ant-dropdown-arrow{display:none;}
.secureDropdown .ant-dropdown-arrow{border-color: var(--bgGloom) !important;}
.drpdwn-list{list-style: none;}
.drpdwn-list li{font-size: 14px; padding: 0 22px; transition: 0.3s ease;cursor: pointer;}
.drpdwn-list li a{color: var(--menuFont);display: flex; align-items: center; padding: 10px 0 10px 10px;}
.crypto-card-design{display: flex;align-items: center;}
.custlist-align{margin-left: 26px;}
.listitems-design{border-radius: 13px;margin-bottom: 10px;padding: 14px 20px !important;display: block;width:356px;float: left;margin-right: 16px;border-bottom: 0 !important;background: var(--faitGradGreen) !important;}
.listitems-design:nth-child(even) {margin-right: 0;background: var(--faitGradeBlue)!important;}
.crypto-btn-top{margin-top: 28px;}
.ant-btn.dbchart-link{background-color: transparent;border: 0;}
.dbchart-link span{color: var(--viewAll);font-size: 18px;font-weight: 500;}
.market-panel-newstyle{clear: both;}
.icon-space{margin-left: 12px;margin-bottom: 12px;}
.pipeline{color: var(--tableText);margin-right: 10px;}
.sb-card{border-radius: 20px;margin-bottom: 16px;}
.sb-innercard{padding:20px;}
.sb-text{color: var(--sbCardText);letter-spacing: 5px;font-weight: 700;font-size: 24px;}
.sb-accounts{padding: 2px;}
.cardlogo-height{margin-bottom: 109px;opacity: 0.6;}
.transaction-panel, .crypto-style{margin-top: 50px;}
.transaction-title{display: flex;align-items: center;}
.trans-align{display: flex;align-items: center;justify-content: space-between;}
.bash-market-table{background-color: var(--cardBG);border-top-left-radius: 20px;padding-bottom:16px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.ant-table-container table > thead > tr:first-child th:last-child{border-top-right-radius: 20px;}
.db-main-title{font-weight: 800 !important;font-size: 32px !important;color: var(--primary) !important;margin-bottom: 40px !important;}
.marketcap-mt{margin-top: 46px;}
.crypto-curr-align{display: flex;justify-content: space-between;align-items: center;}
.iban-list .ant-list-item-meta{display:block;}
.ts-wallet .ts-coin{font-weight: 500;font-size: 14px;color: var(--tablesub);margin-bottom: 4px;}
.ts-wallet .ts-type{font-weight: 400;font-size: 14px;color: var(--tableInner);margin: 0 !important;}
.ts-tbdate .ts-date{font-weight: 400;font-size: 14px;color: var(--tableText);margin: 0 !important;}
.crypto-btns .ant-space-item, .crypto-curr-align .ant-space-item{margin-left:4px;}
.listitems-design.iban-style .ant-list-item-meta-avatar{margin-right:0 !important;}
.listitems-design.iban-style{background: var(--cardBG) !important;}
.bash-market-table .ant-table-column-sorters .ant-table-column-title{color: var(--marketTitle);font-weight: 700;font-size: 16px;}
.bash-market-table .ant-table-column-sorters .ant-table-column-sorter{color: var(--marketTitle);}
.dashbord-space{padding-top: 0px !important;}
.ac-topspace{padding-top: 10px;}
.listitems-design.iban-style .ant-list-item-meta-content{width: 100%;height: 70px;}
.fund-transfer-input .ant-form-item-label{text-align: left;}
/* Dashboard end */

/*Buy/sell drawer start*/
.drawer-maintitle{font-weight: 800;font-size: 26px;color: var(--menuFont);text-transform: capitalize;}
.crypto-list.auto-scroll.wallet-list{margin-top: 30px;}
.crypto-list .ant-list-item, .wallet-list .ant-list-item{margin-bottom: 8px;}
.search-style{color: var(--menuFont);font-weight: 600;font-size: 18px;margin-bottom: 2px !important;text-transform: capitalize;}
.buycoin-style{font-weight: 700;font-size: 16px;color: var(--coinBal);}
.coin-entryval{display: flex;align-items: center;}
.marginL{margin-left: 4px;}
.crypto-details{display: flex;justify-content: center;align-items: center;}
.buy-para-bg{border-radius: 10px;background-color: var(--cardBG);padding: 8px 28px;margin: auto;margin-top: 20px;}
/* .auto-scroll{overflow-y: auto;} */
.enter-val-container.swap-com{display: flex;align-items: center;justify-content: center;margin-bottom: 16px;}
.inputfont-style{font-weight: 500;font-size: 26px;color: var(--white);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.inputbg-fonts{background: var( --inputBg);height: 50px;margin-bottom: 6px;border: 1px solid var(--subText);border-radius: 5px;}
.inputbg-fonts:hover, .inputbg-fonts:focus, .inputbg-fonts.ant-input-borderless:focus{background: var( --inputBg);height: 50px;margin-bottom: 6px;border: 1px solid var(--subText);border-radius: 5px;}
.buy-paragraph{color: var( --paraBg);font-weight: 500;font-size: 16px;text-align: center;margin-bottom: 0 !important;margin-top:4px;}
.crycoin-bal{font-weight: 400 !important;font-size: 16px !important;color: var(--coinPrice) !important;}
.buy-usdt-btn .pop-btn, .sell-btn-style{margin-top: 16px;margin-bottom: 16px;}
.select-currency{margin-top: 50px;height: 264px;}
.swap-text-sub{text-align: center;font-weight: 500;font-size: 36px;color: var(--white);margin-top: -16px !important;}
.enrty-field-style{margin-bottom: 12px;}
.sellcrypto-style{color:var(--coinPrice);font-weight: 400;font-size: 16px;}
.sellbal-style{font-weight: 700;font-size: 16px;color: var(--balInput);}
.round-pills{width: 100%;text-align: center;}
.round-pills .ant-radio-button-wrapper{background: var(--radioBg);height: 36px;border-radius: 10px;min-width: 60px; line-height: 34px;color: var(--coinPrice);border:1px solid rgba(0, 0, 0, 0.3);;font-size: 16px;font-weight: 500;margin: 0 16px 16px 0;text-align: center;}
.round-pills .ant-radio-button-wrapper-checked, .default-radio .ant-radio-button-wrapper-checked, .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{background-color: var(--radioFill) !important; color:var(--balInput) !important;font-size: 16px;font-weight:500;border: 2px solid var(--radioBorderfill);}
.round-pills .ant-radio-button-wrapper::before, .default-radio .ant-radio-button-wrapper::before{content: none;}
.val-updown{position: absolute;right: 0;top: 100px;width: 40px;height: 40px;border-radius: 15px;background-color: var(--radioFill);text-align: center;line-height: 38px;}
.val-updown:hover .swaparrow, .swap-updown:hover .swaparrow{transform: rotate(180deg);transition: 0.5s;background-position: -237px -35px;}
.buy-balance{font-weight: 400;font-size: 16px;color: var(--coinPrice);}
.crypto-amount{margin-bottom: 36px;}
.kpi-List .kpi-label{font-weight: 500;font-size: 14px;color: var(--sbCardText);}
.kpi-List .kpi-val{font-size: 16px;font-weight: 500;color: var(--white);}
.kpi-List .ant-col{margin-bottom: 20px;display: flex;}
/*Buy/sell drawer End*/
/* receive fait start */
.drawer-subtext{font-weight: 700;font-size: 18px;color: var(--tablesub);}
.fait-title{font-weight: 500 !important;font-size: 14px !important;color: var(--subText) !important;}
.fait-subtext{display: block !important;font-size: 16px !important;font-weight: 500 !important;color: var(--white) !important;}
.fait-box{margin-top: 12px;}
.fait-maintext{font-weight: 700;font-size: 18px;color: var(--tablesub);margin-bottom: 16px !important;margin-top: 16px;}
.refer-text{font-weight: 400;font-size: 16px;color: var(--tableText);}
.walletadrs{font-weight: 700;font-size: 16px;color: var(--coinPrice);}
.import-note{background-color: var(--cardBG);width: auto;border-radius: 10px;padding: 24px 70px 24px 24px;color: var(--tablesub);}
.custom-display{margin-left: 12px;}
/* receive fait end */
/* receive crypto start */
.rec-bottom{margin-bottom: 18px !important;}
.recive-subtext{font-weight: 400;font-size: 16px;color: var(--sbCardText);margin-bottom: 16px;}
.scanner-img{width: 170px; height: 170px; margin: 16px auto 60px; padding: 10px;background-color: var(--bgWhite);border-radius: 6px;}
.recive-lable{font-weight: 400;font-size: 16px;color: var(--tableText);}
.recive-copy{font-weight: 700;font-size: 16px;color: var(--coinPrice);margin-top: 12px;margin-bottom: 50px;}
.recive-text, .recive-text .list-dot{font-weight: 400;font-size: 14px;color: var(--tableText);}
.recive-runtext{font-weight: 400;font-size: 14px;color: var(--tableText);}
.list-dot{list-style: initial;margin-bottom: 16px !important;}
.recive-share{margin-top: 100px;font-size: 16px;font-weight: 500;color: var(--tableText);margin-bottom: 18px;}
/* receive Crypto end */
/*Send Address start*/
.adbook-head{font-weight: 700 !important;font-size: 18px !important;color: var(--checkText) !important;margin-bottom: 18px !important;margin-top: 30px;}
.fund-border{margin-top: 15px;padding: 8px;background: var(--addressList);border: 2px solid  var(--addressList);border-radius: 13px;padding: 22px;cursor: pointer !important;align-items: center !important;}
.fund-border:first-child{margin-top: 0;}
.fund-border:hover{background-color: var(--radioFill);border: 2px solid var(--radioBorderfill);}
.fund-circle{width: 44px;height: 44px;border-radius: 50%;text-align: center;padding: 11px;background-color: var(--borderColor);margin-right: 12px;}
.address-name{font-weight: 700;font-size: 16px;color: var(--coinBal);cursor: pointer;}
.address-subtext{font-weight: 700;font-size: 12px;color: var(--coinPrice);}
.addCryptoList{list-style: none; padding-left: 0;max-height: calc(100vh - 436px); overflow-y: auto;}
.addCryptoList li{padding:10px; color: var(--textWhite);border-bottom: 1px solid var(--borderLight);font-size: 16px;}
.addCryptoList li:hover{background-color:var(--bgBlu); cursor: pointer;}
.sub-abovesearch{color: var(--subText) !important;font-weight: 400 !important;font-size: 14px !important;margin-bottom: 6px !important;}
.uplaod-inner{color: var(--white) !important;}
.upload .ant-upload-text{font-weight: 600;color: var(--white) !important;}
/*Send Address End*/
/* --Payments Start--*/
.pay-grid thead th{padding: 8px;width: 250px; color: var(--textWhite30);font-weight: 500;text-align: left;font-size: 16px;}
.pay-grid thead th:last-child{width: 500px;}
.pay-grid tbody td{padding: 8px; color: var(--tablecol);font-weight: 400;font-size: 14px ;}
.ant-table-placeholder:hover{background: transparent;}
.ant-popover-inner{background-color: var(--bgGloom); border-radius: 10px;}
/* . .ant-popover */
.pay-list{display: flex;justify-content: space-between;align-items: center;}
.ant-table-placeholder:hover{background: transparent;}
.ant-popover-inner{background-color: var(--bgGloom); border-radius: 10px;}
.more-popover .lbl{font-size: 12px; color: var(--textWhite50);font-weight: 100;}
.more-popover .val{font-size: 14px; color: var(--textWhite30);display: block;margin-bottom: 16px; line-height: normal;}
.ant-popover-arrow{border-color: var(--bgGloom) !important;}
.payment-docs .accordian .ant-collapse-content-box, .payment-docs .accordian .ant-collapse-item{background-color: var(--bgGrey);border-radius: 24px;}
.payment-docs .accordian .ant-collapse-item:last-child > .ant-collapse-content{background-color: var(--bgGrey);border-radius: 30px;}
.file-label{border: 1px solid var(--borderLight);border-radius: 6px;padding: 2px 8px;color: var(--bgDarkYellow);background-color: var(--bgDarkGrey);width:100px}
.delete-btn{color: var(--textWhite30);background-color: transparent !important;font-size: 14px;border: none;}
.delete-btn:hover{background-color: transparent !important; color:white;border:none;}
.delete-btn:focus{border:none !important;}
.ant-modal-footer .delete-btn{padding: 0 30px;}
.pay-list{display: flex;justify-content: space-between;align-items: center;}
.transaction-custom-table{background: var(--cardBG);border-radius: 20px;padding-top: 12px;padding-bottom: 12px;}
.transaction-custom-table .pay-grid tbody td{border: 0;}
.transaction-custom-table .pay-grid tr{border-bottom: 1px solid var(--tableborder);}
.transaction-custom-table .pay-grid tr:last-child{border-bottom: 0;}
.transaction-custom-table .pay-grid thead tr, .bash-market-table .pay-grid tbody tr td{border-bottom: 1px solid var(--tableborder) !important;}
.transaction-custom-table .pay-grid thead tr th:first-child{padding-left: 30px;}
.transaction-custom-table .pay-grid tbody tr td:first-child{padding-left: 30px;}
.bash-market-table .pay-grid thead  tr th{border-bottom: 0;}
.bash-market-table .pay-grid tbody tr:last-child td, .bash-market-table .pay-grid tbody tr:first-child td{border-bottom: 0 !important;}

/* --Payments End--*/

/*--Zoho start--*/
.zsiq_flt_rel{width: 50px !important; height: 50px !important;bottom: 8px;right: -10px;}
.zsiq_theme1 .siqico-chat:before{font-size: 20px !important; line-height: 50px !important;}
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-radio-disabled + span{color: var(--textWhite30);}

/*--Zoho end--*/

/* summary start */
.cust-summary-new{background: var(--drawerList);border-radius: 13px;padding-left: 20px;padding-right: 20px;padding-bottom: 46px;padding-top: 26px;}
.pay-list:last-child{border:0;padding-bottom: 0;}
.pay-list{padding: 12px 0;}
.cust-coin-value{font-weight: 500;font-size: 45px;text-align: center;color: var(--white);}
.cust-summary-text{text-align: left;margin-top: 16px;}
.text-style{font-weight: 400 !important;font-size: 16px !important;color:var(--checksub) !important;margin-top: 16px !important;height: 106px;}
.terms-link{color:var(--termsText) !important;font-weight: 700;}
.faitcurrency-style{font-weight: 700;font-size: 16px;color: var(--white);text-align: center;margin-bottom: 30px;}
.summary-liststyle{font-weight: 700;font-size: 16px;color: var(--coinBal);}
.summarybal{font-weight: 400;font-size: 16px;color:var(--coinBal);}
.cust-agreecheck{font-weight: 400;font-size: 14px;color: var( --checkText);}
.agree-check label{height: 34px;margin-right: 14px;}
.agree-check input[type=checkbox]{display: none;}
.agree-check input[type=checkbox]+span{background: var(--lightThemeIcons);background-position:-115px -513px;transform:scale(1.5);display: inline-block;width: 34px;height: 34px;vertical-align: text-top;cursor: pointer;}
.agree-check input[type=checkbox]:checked+span{background: var(--lightThemeIcons);background-position:-153px -513px;border-color: transparent !important;}
.agree-check input[type=checkbox]+span:hover{background-position:-190.5px -513px;}
.agree-check input[type=checkbox]:checked+span:hover{background-position:-153px -513px;}
.pay-list{padding: 16px 0; border-bottom: 1px solid var(--borderColor);}
/* summary end */

/* success start */
.cryptosummary-container{max-height: calc(100vh - 0px);}
.success-title{font-weight: 800 !important;font-size: 26px !important;color: var(--white) !important;}
.successsubtext{font-weight: 500;font-size: 16px;color: var(--coinPrice);height: 330px;}
.custom-declaraton{height: calc(100vh - 225px);align-items: center;display: flex;justify-content: center;}
.pop-cancel span{color:var(--textYellow);text-transform: uppercase;font-weight: 700;}
.custom-declaraton .declaration-content{width: 600px;}
.side-drawer .side-drawer-header{align-items: flex-start;}
/* success end */

/* crypto-coins */
.crypto-icon{ height: 44px; width:44px;}
  .crypto-icon{background: var(--coinBg) url(../images/cryptoicons.svg)  no-repeat; display: inline-block;border-radius: 100%;}
  .crypto-icon.BTC{background-position:-56px -6px; }
  .crypto-icon.ETH{background-position: -106px -6px;}
  .crypto-icon.USDT{background-position:-208px -6px;}
  .crypto-icon.USDC{background-position: -157px -6px;}
  .dash-mobile-list .ant-list-item-meta{align-items: center;}
/* crypto-coins end   */
/* send fiat start */
.fund-transfer-input .tfunds-inputgroup .ant-select{width: 122px;}
.fund-transfer-input .tfunds-inputgroup .ant-select-selection-item{}
.alert-info-custom{background-color:var(--addressList) !important;border-radius: 13px;color: var(--textWhite);border-color: var(--borderGrey) !important;padding: 28px 22px;}
.kpi-divstyle{border-bottom:1px solid var(--borderColor);padding-bottom: 20px;width: 100%;}
.custom-forminput.custom-label{margin-bottom: 16px;}
/* send fiat end */
/* send crypto start */
.min-btn{background: var(--radioBg) !important;height: 36px;border-radius: 10px;min-width: 60px;line-height: 34px;color: var(--coinPrice);font-size: 16px;font-weight: 500; margin: 0 16px 16px 0;}
.min-btn:active ,.min-btn:focus{background-color: var(--radioFill) !important;border: 2px solid var(--radioBorderfill) !important;font-size: 16px;font-weight: 500 !important;color: var(--coinPrice) !important;}
.min-btn:hover{border-color: rgba(0, 0, 0, 0.3) !important;color: var(--coinPrice) !important;}
.newtransfer-card{background: var(--drawerList);border-radius: 13px;border: 2px solid transparent;height: 90px;padding: 10px 43px !important;text-align: left !important; font-size: 16px; font-weight: 700; color: var(--coinBal);width: 100%;}
.newtransfer-card:hover,.newtransfer-card:active{background-color: var(--radioFill) !important;border: 2px solid var(--radioBorderfill);color: var(--coinPrice) !important;}
.newtransfer-card::before{ background: var(--drawerList) !important;}
.small-btns{margin-top: 10px !important;}
.addcrypto-whitelist{margin-bottom: 45px;}
.sub-title{font-weight: 700 !important; font-size: 18px !important;margin-bottom: 26px !important; color: var(--white) !important;}
.addcrypto-benficiary .ant-form-item{margin-bottom: 16px;}
/* send crypto end */

/* crypto summary start */
.crypto-summaryform{padding-top: 32px;}
.get-code{ text-align: center;border: 1px solid var(--borderLight);color: var(--textWhite30);font-size: 16px;height: 50px;background: var( --inputBg);}
.cust-input.custom-add-select{margin-bottom: 0 !important; border-radius: 0 !important; border-top-left-radius: 5px !important;border-bottom-left-radius: 5px !important; border-right: transparent;}
.new-add{padding: 14px;border-bottom-right-radius: 5px; border-top-right-radius: 5px; border-left: transparent;}
.cust-input[disabled]{background: var( --inputBg);color: var(--textSecondary);}
.new-add button{border-left: 1px solid var(--white) !important; padding-left: 20px; }
.new-add button:hover{border-left: 1px solid var(--white) !important;}
.cust-input.custom-add-select:hover{border-color: var(--subText);}
.custom-send.sell-btc-btn span{color: var(--white);}
.new-add button span{color: var(--termsText); font-size: 16px; font-weight: 700;}
.verification-text{color: var(--white) !important;font-weight: 400;  font-size: 14px;}
/* crypto summary end  */

/* crypto sucess start  */
.success-title{font-weight: 800; font-size: 26px; color: var(--white);}
.success-content{font-weight: 500;font-size: 16px;line-height: 180%; color: var(--white);}
/* crypto success end  */

/*@media start*/
@media (min-width: 768px){
    .listitems-design{width: 345px;}
    .tlv-header{height: 90px !important;}
    .header-logo{padding-left: 0 !important;}
    .visible-mobile{padding-left: 16px !important;}
    .agree-check input[type=checkbox]+span{background-position: -115px -519px;}
    .agree-check input[type=checkbox]:checked+span:hover{background-position: -153px -519px;}
    .agree-check input[type=checkbox]:checked+span:hover{background-position:-153px -519px;}
    .agree-check input[type=checkbox]:checked+span{background-position:-153px -519px;}
    .agree-check input[type=checkbox]+span:hover{background-position: -190.5px -519px;}
    .text-style{height: 230px;margin-top: 16px !important;}
    .successsubtext{height: 400px;}
    .round-pills .ant-radio-button-wrapper{line-height: 30px;}
    .select-currency{height: 400px;}
    .val-updown{right: 160px;top:72px;}
    .import-note{width: auto;}
    .side-drawer .ant-drawer-header{padding:16px 30px !important}
    .inputfont-style{font-size:36px;}
    .buy-paragraph{width: 300px;margin: auto;}
    .crypto-card .ant-card-body{padding: 16px 14px;height: 94px;}
    
}
@media (min-width: 992px){
    .visible-mobile, .sideropen{display: none;}
    .bill-grid .k-grid-header table{width: 1255px !important;}
    .bill-grid .k-grid-content table{width: 1254px !important;}
    .side-drawer .ant-drawer-content-wrapper{width: 524px !important;}
    /* .buycoin-style{font-size: 50px;} */
    .cryptosummary-container{max-height: calc(100vh - 76px);}
    /* .successsubtext{height:230px;} */
    /* .auto-scroll{overflow-y: auto;padding-right: 10px;} */
    .agree-check input[type=checkbox]+span {background-position: -115px -513px;}   
    .agree-check input[type=checkbox]+span{background: var(--lightThemeIcons);background-position:-115px -513px;transform:scale(1.5);display: inline-block;width: 34px;height: 34px;vertical-align: text-top;cursor: pointer;}
    .agree-check input[type=checkbox]:checked+span{background: var(--lightThemeIcons);background-position:-153px -513px;border-color: transparent !important;}
    .agree-check input[type=checkbox]+span:hover{background-position:-190.5px -513px;}
    .agree-check input[type=checkbox]:checked+span:hover{background-position:-153px -513px;}
    .successsubtext{height: 130px;}
    .text-style{margin-top: 30px !important;}
    .select-currency {height: 122px;}
    .text-style{height: 140px;}
    .full-screenable-node{width: 427px;overflow: auto;}
    .val-updown{top: 100px;right: 38px;}
    .enter-val-container.swap-com{margin-bottom: 4px;}
    .import-note{width: 463px;}
    .tlv-header{width: 1200px;margin: auto;padding: 12px 0 !important;align-items: center;}
}

@media (min-width: 1024px){

}
@media (min-width: 1200px){
    /* .sb-card{width: 482px;} */
    .iban-list .iban-style{width: auto !important;float: unset; padding: 12px !important;flex: 1;margin-right: 0;}
    .iban-list .ant-list-items{display: flex;gap: 16px;}
    .iban-list .custom-btn{min-width: 81px;}
    .main-container{max-width: 1200px; padding: 30px 16px 24px;}
    .crypto-list .ant-list-item, .wallet-list .ant-list-item{margin-top:12px;}
    .inputfont-style{font-size: 36px;}
    /* .ant-popover.ant-popover-placement-left{left: 872px !important;} */
}
@media (min-width: 1400px){
    .iban-list .ant-list-items{display: flex;}
    .listitems-design{width: 346px;}
    .listitems-design.iban-style{width: 242px;}
    .side-drawer .ant-drawer-body{padding: 16px 30px;}
    .agree-check{height: calc(100vh - 646px);}
    .successsubtext{height: calc(100vh - 592px);}
    .select-currency {height: calc(100vh - 590px);}
    .iban-list .ant-list-items{display: 238px;}
    .full-screenable-node{width: 430px;}
    .crypto-list .ant-list-item, .wallet-list .ant-list-item{margin-top: 16px;}
    .inputfont-style{font-size: 36px;}
    .side-drawer .ant-drawer-content-wrapper{width: 524px !important;}
    .val-updown{top: 84px;}
    .iban-list .iban-style{padding: 14px 20px;}
    .addCryptoList{max-height: calc(100vh - 590px); overflow-y: auto; }
    .addCryptoList .xxl-fs{font-size:14px !important;}
    .addCryptoList .xxl-fs-16{font-size:16px !important;}
}
@media (max-width: 991.98px){
    .visible-mobile .ant-tabs-top > .ant-tabs-nav::before{border-bottom: 0 !important;}
    .visible-mobile .user-list .ant-tabs-nav{width: auto;}
    .visible-mobile{margin-right: 24px;padding-left: 8px;padding-right: 24px;}
    .tlv-header .sideropen {background: var(--profileMenu) !important;}
    .sideropen{margin-left: -16px;padding: 12px;margin-top: 14px;border-radius: 0;min-height: 100vh;
        /* border-top-right-radius: 6px;border-bottom-right-radius: 6px; */  
    }
    .sideropen .ant-menu-vertical,.ant-menu-vertical{border-right: 0 !important;}
    .sideropen .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{background-color: transparent;}
    .sideropen .list-item.ant-menu-item-selected .ant-menu-title-content{min-width: 150px !important; padding: 8px 5px 8px 5px !important}
    .login-user{width: 100%;padding: 2px 0;}  
}
@media (max-width: 767.98px){
    .sidebar-push{margin: 62px 0 0 !important;}
    .visible-mobile .side-drawer .side-drawer-header.change_password{align-items: self-start !important;}
    /* .visible-mobile{margin-right: 24px;padding-left: 24px;padding-right: 24px;} */
    .main-container{padding-left: 0 !important;padding-right: 0 !important;}
    .listitems-design{width: 344px;}
    .val-updown{top:24px;}
    .footer-links{text-align: center;margin: 0 10px;}
}

/*@media end*/