:root {
    --bgDarkGrey:#ECF1F4;
    --bgDarkGrey-95:rgba(49,60,70,0.75);
    --bgGrey: #FAFCFE;
    --bgGreen: #389738;
    --bgDarkGreen: #4DB205;
    --bgBlack: #000000;
    --bgYellow: #FFDB1A;
    --bgWhite: #FFFFFF;
    --bgOrient: #1E526E;
    --bgGloom: #243540;
    --bgBlue: #1E90FF;
    --textWhite: #FFFFFF;
    --textWhite30: #FAFCFE;
    --textWhite50: #EEF2F5;
    --textSecondary: #9797AA;
    --textDark: #0E0E2C;
    --textGreen: #389738;
    --textYellow: #FFDB1A;
    --textRed: #FF3A1A;
    --textAqua: #2AAECC;
    --textpurple:#5C5C77;
    --textDarkGreen: #4DB205;
    --btnGrad1: #B30F1E;
    --btnGrad2: #0038FF;
    --btnBorder: #5C5C77;
    --borderGrey: #313C46;
    --borderLight: #9797AA;
    --bgCircle: #19B06C;
}