:root {
    --bgDarkGrey:#313C46;
    --bgDarkGrey-95:rgba(49,60,70,0.75);
    --bgGrey: #515A64;
    --bgGreen: #389738;
    --bgDarkGreen: #4DB205;
    --bgBlack: #000000;
    --bgYellow: #FFDB1A;
    --bgWhite: #FFFFFF;
    --bgOrient: #1E526E;
    --bgGloom: #243540;
    --textWhite: #FFFFFF;
    --textWhite30: #FAFCFE;
    --textWhite50: #EEF2F5;
    --textSecondary: #9797AA;
    --textDark: #0E0E2C;
    --textGreen: #389738;
    --textYellow: #FFDB1A;
    --textRed: #FF3A1A;
    --textAqua: #2AAECC;
    --textpurple:#5C5C77;
    --textDarkGreen: #4DB205;
    --btnGrad1: #B30F1E;
    --btnGrad2: #0038FF;
    --btnBorder: #5C5C77;
    --borderGrey: #313C46;
    --borderLight: #9797AA;
    --fw100: 100;
    --fw200: 200;
    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;
    --fw700: 700;
    --fw800: 800;
    --fw900: 900;
}