@import url('../fonts/stylesheet.css');
* { scrollbar-width: thin; scrollbar-color: var(--bgGrey) var(--bgDarkGrey);}
*::-webkit-scrollbar { width: 12px;height: 10px;  }
*::-webkit-scrollbar-thumb {background-color: var(--bgDarkGrey);border-radius: 20px;}
body, h1, h2, h3, h4, h5, h6, a, p div{font-family: 'SF Pro Text' !important;}
.ant-layout, body{background-color: var(--bgDarkGrey);}
.ant-btn{font-weight: var(--fw500);}
.ant-input-search .ant-input-group input{background-color: var(--bgDarkGrey) !important; height: 38px; border-radius: 30px; color: var(--textWhite30); padding-left: 18px;}
.ant-input-search .ant-input-group .ant-input-group-addon {background-color: var(--bgDarkGrey) !important; border-radius: 0 30px 30px 0;}
.ant-input-search .ant-input-group-addon .ant-btn{background-color: transparent; border: none; width: 42px;}
.markets-panel .ant-list-split .ant-list-item, .portfolio-list .ant-list-split .ant-list-item{border-color: var(--borderGrey) !important; padding: 16px 5px;}
.portfolio-list .ant-list-split .ant-list-item:first-child{border-top: 1px solid #f0f0f0;}
.btn-primary{background-color: var(--btnPrimary) !important;}
.login-user, .crypto-details, .side-drawer .side-drawer-header, .pay-list, .wire-trans{display: flex;justify-content: space-between;align-items: center;}
.header-logo{list-style: none;display: inline-flex;padding-right: 0 !important;align-items: center;margin-bottom: 0;}
.tlv-logo{height: 32px;}
.header-logo li:first-child::after{content: '';position: absolute;width: 1px;height: 27px;right: 0;top: 5px;background-color: var(--bgWhite);}
.tlv-header .list-item.ant-menu-item .ant-menu-title-content{padding:6px 12px;}
.tlv-header .list-item.ant-menu-item-selected .ant-menu-title-content, .tlv-header .list-item.ant-menu-item-active .ant-menu-title-content{
background-image: linear-gradient(99.09deg, var(--btnGrad1) 0%, var(--btnGrad2) 100%);
filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));margin: 0px;border-radius: 5px;border:0;
line-height: 16px;min-width:90px}
.custom-btn{border-radius: 5px;border:0;line-height: 16px;min-width:90px;font-weight: 300;font-size: 16px;filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));transition: 0.5s ease;color: var(--textWhite);}
.custom-btn.outline{border-color: var(--bgDarkGrey) !important;}
.custom-btn.prime{background-image: linear-gradient(99.09deg, var(--btnGrad1) 0%, var(--btnGrad2) 100%);}
.custom-btn.prime:hover, .tlv-header .ant-menu-title-content:hover{background-size: 200% auto;}
.custom-btn.sec{background-image: none; background: transparent;border: 1px solid var(--btnBorder);}
.custom-btn.sec:hover{background-color: var(--bgWhite);color: var(--textDark);}
.carousel-card{background-color: #ddb81f;border-radius: 30px;overflow: hidden;}
.ant-carousel .slick-dots-bottom{bottom: 28px  !important;}
.ant-carousel .slick-dots li button{background: var(--bgGrey) !important; opacity: 0.5;height: 4px;border-radius: 2px;}
.ant-carousel .slick-dots li.slick-active button{background: var(--bgGrey) !important; opacity: 1;}
.ant-carousel .slick-dots li{width: 8px; }
.ant-carousel .slick-dots li.slick-active{width: 30px;}
.tlv-header{background-color: var(--bgGrey) !important;position: fixed; z-index: 1; width: 100%; border-radius: 0 0 30px 30px;}
.tlv-header ul{background-color: transparent; border-bottom: 0;}
.tlv-header ul li{font-weight: 300;}
.tlv-header .main-menu li{border-radius: 5px;}
.tlv-header .main-menu li.ant-menu-item-selected, .tlv-header .main-menu li:hover{background-color: var(--primary) !important; color: var(--textWhite) !important;}
.tlv-header li::after, .tlv-header li:hover:after{border: none !important;}
.ant-modal.megamenu{top: 0 !important;bottom: 0 !important;width: 100% !important;max-width: 100%;}
.megamenu-backdrop, .megamenu .ant-modal-header{background-color: var(--bgGloom);}
.megamenu .ant-modal-header, .drpdwn-list li:last-child a{border: none;}
.megamenu-title{display: flex; justify-content: space-between; padding-right: 60px;align-items:center ; }
.megamenu .ant-modal-content{box-shadow: none; background-color: var(--bgGloom) !important;min-height: calc(100vh - 70px); max-height: calc(100vh - 70px);}
.megamenu-link a, .megamenu-sublink a{font-size: 18px; color: var(--textWhite30); display: block;font-weight: 300;}
.megamenu-sublink a{font-size: 14px; margin-bottom: 24px;}
.megamenu-link a:hover, .megamenu-sublink a:hover{color: var(--texthover);}
.custom-toggle.ant-switch{background-color: var(--bgBlack) !important;}
.custom-toggle.ant-switch-checked{background-color: red !important;}
.secureDropdown .ant-dropdown-menu{background-color: var(--bgGloom); border-radius: 10px; min-width: 300px; max-width: 300px; padding: 24px 0;}
.secureDropdown .ant-dropdown-arrow{border-color: var(--bgGloom) !important;}
.drpdwn-list{list-style: none;}
.drpdwn-list li{font-size: 14px; padding: 0 30px; transition: 0.3s ease;}
.drpdwn-list li:hover{background-color: var(--bgDarkGrey);}
.drpdwn-list li a{color: var(--textWhite);display: flex; align-items: center;border-bottom: 1px solid var(--bgDarkGrey); padding: 10px 0;}
.drpdwn-list li:last-child a{border-top: 1px solid var(--bgDarkGrey)}
.drpdwn-list li.no-hover:hover{background-color: transparent !important;}
.drpdwn-list li span.icon{transition: margin 0.3s ease-in;}
.drpdwn-list li:hover span.icon{margin-right: -3px ;}
.icon{background: url(../images/tlv-icons.svg) no-repeat; display: inline-block; vertical-align: middle;}
.icon.xl{width: 32px; height: 32px;}
.icon.xl.closewhite{background-position: -2px -243px;}
.icon.lg{width: 26px; height: 26px;}
.icon.lg.drawer-close{background-position: -1px -112px;}
.icon.lg.check-ylw{background-position: -36px -111px;}
.icon.md{width: 20px; height: 20px;}
.icon.md.bell{background-position: -1px 0;}
.icon.md.gear{background-position: -30px -1px;}
.icon.md.hamburger{background-position: -59px -1px;}
.icon.md.lose{background-position: -271px -2px;}
.icon.md.gain{background-position: -302px -2px;}
.icon.md.downarrow{background-position: -59px -2px;}
.icon.md.close-white{background-position: -168px 0;}
.icon.md.search-white{background-position: -197px 0;}
.icon.md.load{background-position: -242px 0;float: right; margin-top: 2px;}
.icon.md.info{background-position:-404px -1px;}
.icon.md.lftarw-white{background-position: -377px 0;}
.icon.lg.chat{background-position: -429px -1px;}
.icon.sm{width: 12px; height: 12px;}
.icon.sm.downarrow{background-position: -107px -4px;}
.icon.sm.uparrow{background-position: -87px -4px;}
.icon.sm.downarrow-white{background-position: -128px -6px;}
.icon.sm.r-arrow-o-white{background-position:-222px -5px;}
.icon.sm.uparw-o-white{background-position:-332px -6px;}
.icon.sm.dwnarw-o-white{background-position:-355px -5px;}
.icon.md.rarrow-white{background-position:-217px -1px;}
.header-right li{padding: 0 !important;margin: 0 6px; font-size: 16px; color: var(--textWhite30) !important;}
.header-dropdown{font-size: 24px; color: var(--textBlack) !important;}
.mid-menu{display: flex; align-items: center;}
.box{background-color: var(--bgGrey); border-radius: 30px;overflow: hidden; margin-bottom: 28px; padding: 30px 24px;}
.main-container{padding: 24px 16px; margin: auto;}
.trade-btn{border-radius: 5px; background-color: var(--bgDarkGreen) !important;border-color: var(--bgDarkGreen) !important; line-height: normal; height: 20px;padding: 0 4px;}

/* Buy/sell */
.side-drawer .ant-drawer-body, .side-drawer .ant-drawer-header{background-color: var(--bgGrey);}
.side-drawer .ant-drawer-mask{background-color: var(--bgDarkGrey-95);}
.side-drawer .ant-drawer-header, .crypto-list-tabs .ant-tabs-nav::before{border: none;}
.side-drawer-header.custom-drawer-header{padding: 30px 46px 30px 0px !important;}
.buysell-toggle{border-radius: 20px; background: var(--bgDarkGrey); padding: 10px;display: block;margin: 0 16px 50px 30px}
.buysell-toggle .ant-radio-button-wrapper{border-radius: 15px;border: none;background: transparent;color: var(--textWhite30);text-transform: uppercase;font-weight: 600;padding: 22px 43px; min-width: 115px;line-height: 0;font-size: 14px;}
.buysell-toggle .ant-radio-button{border-radius: 15px;font-size: 12px;}
.buysell-toggle .ant-radio-button-checked{background: var(--bgYellow);border-left: none;}
.buysell-toggle .ant-radio-button-wrapper-checked{color: var(--textDark) !important;}
.buysell-toggle .ant-radio-button-wrapper::before, .crypto-card .ant-card-body::before, .crypto-card .ant-card-body::after{content: none;}
.crypto-list-tabs .ant-tabs-content-holder{max-height: calc(100vh - 480px); overflow-y: auto; padding-right: 10px;}
.crypto-list-tabs .ant-list-item, .wallet-list .ant-list-item{border-color: var(--borderLight);}
.crypto-toggle .ant-radio-button-wrapper{padding: 22px 44px !important;}
.wallet-list li a{display: inline-flex; align-items: center;flex-grow: 1;}
.wallet-list h4{margin-bottom: 0;}
.crypto-list-tabs .ant-tabs-tab{font-size: 16px; margin: 0; padding-bottom: 0;}
.crypto-list-tabs .ant-tabs-tab-btn{padding: 3px 34px;color: var(--textYellow);}
.crypto-list-tabs .ant-tabs-tab-btn:focus{color: var(--textYellow);}
.crypto-list-tabs .ant-tabs-tab-active .ant-tabs-tab-btn{color: var(--textDark); background: var(--bgYellow); border-radius: 30px;}
.crypto-list-tabs .ant-tabs-ink-bar{display: none;}
.pop-btn{font-size: 14px;}
.pop-btn, .pop-btn:hover, .pop-btn:focus, .pop-btn:active{background-color: var(--bgYellow);color: var(--textDark); border-color: var(--bgYellow); border-radius: 40px;height: 57px; text-transform: uppercase;font-weight: 700;}
.pop-cancel{background-color: transparent;color: var(--textWhite30); border-color: transparent; border-radius: 40px;height: 57px;}
.cancel-btn{height: 57px; text-transform: uppercase;font-weight: 700;text-align: center;}
.crypto-card{border-radius: 25px;box-shadow: 0 8px 16px rgba(20,0,4,0.2);background-color: var(--bgOrient);}
.crypto-card .ant-card-body{height: 231px; display: flex; flex-direction: column;justify-content: space-between;}
.crypto-name{display: inline-block; vertical-align: middle;}
.crypto-percent{font-size: 60px; line-height: normal;}
.enter-val-container{display: flex; align-items: flex-start;justify-content: flex-end;margin-right: 35px;}
.enter-val{width: auto;}
.enter-val input{background-color: transparent;line-height: normal; font-size: 36px; color: var(--textWhite30);font-weight: var(--fw-300);}
.enter-val input::placeholder{color: var(--textWhite30);}
.billing-address{border: 1px solid var(--borderLight);border-radius: 30px; padding: 28px 40px;}
.scanner-img{width: 242px; height: 242px; margin: auto;}
.crypto-address{background-color: var(--bgWhite);padding: 8px;margin: 30px 30px 12px;}
.recomnd-tag{background-color: var(--bgBlue);border-radius: 3px; padding: 1px 5px;}
/* Footer */
.footer-links a{font-size: 14px; color: var(--textSecondary); font-weight: var(--fw500);}
.selct-lang{width: 42px; height: 40px;border-radius: 50%;background-color: var(--bgDarkGreen);color: var(--textWhite);box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
appearance: none; padding-left: 10px;cursor: pointer;}
.theme-btn{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25)}
.theme-dark, .theme-dark:hover, .theme-dark:focus{background-color: var(--bgWhite) !important;color: var(--textBlack);border-color: var(--bgWhite);}
/* Coins */
.coin{width: 43px; height: 43px;background: url(../../assets/images/crypto-icons.svg) no-repeat; display: inline-block; vertical-align: text-top; box-shadow: 0 8px 16px rgba(20,0,4,0.2); border-radius: 6px;}
.coin.bch{background-position: -1px -1px;}
.coin.eth{background-position: -55px -1px;}
.coin.btc{background-position: -108px -1px;}
.coin.xlm{background-position: -162px -1px;}
.coin.usd-d{background-position: -216px -1px;}
.coin.oxbtc{background-position: -108px -1px;}
.coin.act{background-position: -270px -1px;}
.coin.dat{background-position: -324px -1px;}
.coin.eur{background-position: -378px -1px;}
.coin.gbp{background-position: -432px -1px;}
.coin.md{width: 40px; height: 40px; box-shadow: none;}
.coin.md.btc-white{background-position: 0 -404px;}
.coin.md.eth-white{background-position: -47px -404px}
.coin.md.usdt-white{background-position: -92px -404px}
.pay-list{padding: 20px 0; border-bottom: 1px solid var(--borderLight);}
.expiry-input{width: 200px;}
.expiry-input input{width: 50px; padding: 0 4px;height: 50px;}
.cust-input, .expiry-input{background: transparent;border-radius: 30px;height: 50px;border: 1px solid var(--borderLight);color: var(--textWhite30); text-align: center;margin-bottom: 20px;font-size: 16px;}
.input-label{color: var(--textWhite30); font-size: 14px;font-weight: 200;margin-left: 12px;margin-bottom: 8px !important; display: block;}
@media (min-width: 320px){
    .tlv-header{padding: 8px 16px !important;}
    .header-dropdown{margin-right: 24px;}
    .megamenu-label{margin-top: 24px;}
    .header-right{display: none;}
    .mobile-header-right{display: block;float: right;}
    .sidebar-push{margin: 62px 0 0;}
    .side-drawer .ant-drawer-content-wrapper{width: 95% !important;}
}
@media (max-width: 767px){
    .mid-menu{margin: 0 -16px;padding: 0 16px; background-color: var(--bgWhite);}
    .header-logo{padding-left: 0  !important;}
    .mobile-none{display: none}
    .mobile-megalinks{display: block;}
    .megamenu-label{font-size: 24px !important;}
    .megamenu-title{padding-right: 34px !important;}
    .mb-d-none{display: none;}
    .sidebar-push{margin: 62px 0 0 !important;}
    .copyright-block{display: flex; justify-content: space-between; align-items: center;padding-top: 12px;} 
}
@media (max-width: 991px){
    .mobile-list .ant-list-item{display: block; border-bottom: 1px solid  var(--borderLight) !important;}
    .mobile-list .custom-btn, .crypto_btns .custom-btn{min-width:50%;}
    .mobile-list .custom-btn:first-child{margin-left: 0 !important;}
    .mobile-list .crypto-btns{display: flex;padding-top: 16px;}
    
    .ant-modal-wrap.megamenu-backdrop{left:12px !important}
    .sidebar-push {margin: 100px 0 0;}
    .mobile-header-right {display: block;float: right;}
    .crypto_btns{display: flex; width: 100%; padding-top: 16px; margin-left: 0 !important; margin-right: 16px !important;}
  
}
@media (min-width: 768px){
    .tlv-header{display: flex;height: 100px;align-items: center; justify-content: space-between;padding: 30px 16px !important;}
    .markets-panel{margin-right: 16px;}
    .megamenu-label{margin-top: 0px;}
    .footer-links{display: flex; justify-content: space-between; align-items: center;}
    .footer-links a{margin: 0 34px 0 0; display: inline-block;}
    .side-drawer .ant-drawer-content-wrapper{width: 510px !important;}
    .side-drawer .ant-drawer-body{padding: 0 70px 20px 20px;}
    .portfolio-count{display: inline-flex;}
    .megamenu-title .tlv-logo{padding-left: 34px !important;}
    .megamenu .ant-modal-header{border: none; padding: 24px 32px;}
    .megamenu .ant-modal-body{background-color: var(--bgGloom) !important}
    .megamenu .ant-modal-close{top: 13px; right: 30px;}
    .megamenu-label{font-size: 33px !important;}
    .megamenu-divider{height: 2px;background-color: var(--bgWhite); margin: 30px 0;}
    .megamenu-link{padding-left: 15px;padding-right: 15px; margin: 0 auto;}
    .mega-menu{padding-right: 30px; padding-left: 30px;}
    .wrapper{display: flex;flex-direction: column;justify-content: space-between;min-height: 230px;}
    .item-wrapper{flex-grow:0; flex-shrink:0;flex-basis:calc(100% - 10px); }
    .copyright{display: none !important;}
}
@media (min-width: 992px){
    .tlv-header{padding: 24px 32px !important;}
    .summary-count{display: inline-block;vertical-align: top;}
    .markets-panel{margin-right: 40px;}
    .tlv-header .main-menu li{margin: 0 4px;}
    .sidebar-push{margin: 100px 0 0;}
    .header-right{display: block;}
    .header-right.mobile-header-right, .mobile-megalinks{display: none;}
    .side-drawer .side-drawer-header{padding: 30px 70px 30px 30px;}
    .crypto_btns{margin-left: 16px !important;}
    .crypto_btns .custom-btn.prime{margin-left: 36px  !important;}
}
@media (min-width: 1200px){
    .main-container{max-width: 1232px; padding: 55px 16px 24px;}
    .mega-menu{max-width: 1140px;  padding: 29px 0px 24px 60px;}
    /* .megamenu .slick-slide {max-width: 1140px; padding: 29px 0px 24px 60px;} */
}
@media (min-width: 1400px){
    .main-container{max-width: 1320px; }
    .mega-menu{max-width: 1320px;}
}