.d-flex{display: flex;}
.p-relative{position: relative !important;}
.c-pointer{cursor: pointer !important;}


/*----Font Sizes----*/
.fs-10{font-size: 10px !important;}
.fs-12{font-size: 12px !important;}
.fs-14{font-size: 14px !important;}
.fs-16{font-size: 16px !important;}
.fs-18{font-size: 18px !important;}
.fs-20{font-size: 20px !important;}
.fs-24{font-size: 24px !important;}
.fs-26{font-size: 26px !important;}
.fs-28{font-size: 28px !important;}
.fs-30{font-size: 30px !important;}
.fs-36{font-size: 36px !important;}
.fs-40{font-size: 40px !important;}

/*--Font Weights--*/
.fw-100{font-weight: var(--fw100) !important;}
.fw-200{font-weight: var(--fw200) !important;}
.fw-300{font-weight: var(--fw300) !important;}
.fw-400{font-weight: var(--fw400) !important;}
.fw-500{font-weight: var(--fw500) !important;}
.fw-600{font-weight: var(--fw600) !important;}
.fw-700{font-weight: var(--fw700) !important;}
.fw-800{font-weight: var(--fw800) !important;}
.fw-900{font-weight: var(--fw900) !important;}

/*--Alignments--*/
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}
.text-upper{text-transform: uppercase !important;}
.text-captz{text-transform: capitalize !important;}
.text-lower{text-transform: lowercase !important;}
.align-center{align-items: center;}
.justify-content{justify-content: space-between;}

/*--Text Colors--*/
.text-white{color: var(--textWhite) !important;}
.text-white-30{color: var(--textWhite30) !important;}
.text-white-50{color: var(--textWhite50) !important;}
.text-textDark{color: var(--textBlack) !important;}
.text-green{color: var(--textGreen) !important;}
.text-red{color: var(--textRed) !important;}
.text-secondary{color: var(--textSecondary) !important;}
.text-yellow{color: var(--textYellow) !important;}
.text-aqua{color: var(--textAqua) !important;}
.bggrey{background-color: var(--bgGrey) !important;}

/*----Padding Utilities----*/
.p-16{padding: 16px !important;}
.p-24{padding: 24px !important;}
.p-28{padding: 28px;}
.py-4{padding-top: 4px !important; padding-bottom: 4px !important;}
.py-8{padding-top: 8px !important; padding-bottom: 8px !important;}
.p-16{padding: 16px !important;}
.pt-16{padding-top: 16px !important;}
.pt-24{padding-top: 24px !important;}
.pt-0{padding-top: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pr-30{padding-right: 30px !important;}
.px-0{padding-left: 0 !important; padding-right: 0 !important;}
.px-16{padding-left: 16px !important; padding-right: 16px !important;}
.px-24{padding-left: 24px !important; padding-right: 24px !important;}
.px-36{padding-left: 36px !important; padding-right: 36px !important;}
.py-8{padding-top: 8px !important; padding-bottom: 8px !important;}
.py-16{padding-top: 16px !important; padding-bottom: 16px !important;}
.py-20{padding-top: 20px !important; padding-bottom: 20px !important;}
.py-24{padding-top: 24px !important; padding-bottom: 24px !important;}
.py-36{padding-top: 36px !important; padding-bottom: 36px !important;}

/*----Margin Utilities----*/
.m-0{margin: 0 !important;}
.mb-0{margin-bottom: 0 !important;}
.mb-4{margin-bottom: 4px !important;}
.mb-16{margin-bottom: 16px !important;}
.mb-24{margin-bottom: 24px !important;}
.mb-36{margin-bottom: 36px !important;}
.mt-4{margin-top: 4px;}
.mt-8{margin-top: 8px !important;}
.mt-12{margin-top: 12px !important;}
.mt-16{margin-top: 16px !important;}
.mt-24{margin-top: 24px !important;}
.mt-36{margin-top: 36px !important;}
.ml-4{margin-left: 4px !important;}
.ml-8{margin-left: 8px !important;}
.ml-12{margin-left: 12px !important;}
.ml-16{margin-left: 16px !important;}
.ml-24{margin-left: 24px !important;}
.ml-36{margin-left: 36px !important;}
.ml-auto{margin-left: auto !important;}
.mr-4{margin-right: 4px;}
.mr-8{margin-right: 8px !important;}
.mr-16{margin-right: 16px !important;}
.mx-4{margin-left: 4px !important;margin-right: 4px !important;}
.mx-24{margin-left: 24px !important;margin-right: 24px !important;}

@media (max-width: 991px){
    .visible-xs{visibility: visible;}
    .hidden-xs{visibility: hidden;}
}